<body class="container">
                <br><br>
  <center><a class="back-to-home" href="/"><img src="{{ site.url }}/img/watsapplogo.png" alt="{{ page.image }}" width="92" height="81"></a></center>
  <center><h3>Create Your Account</h3></center>
  <center><p>By adding yourself to phonebook database so you can start seeing our status.</p></center>
                     
    <script type="text/javascript">var submitted=false;</script>
<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {window.location='{{site.baseurl}}/thankyou/';}"></iframe>
               
               <form action="https://docs.google.com/forms/u/0/d/e/1FAIpQLScdGFiZGrlD2-m4x69SXzMWnhQTY4NdlDsCdWunKVRZmm99tg/formResponse" id="wj-form" method="post" onsubmit="submitted=true" target="hidden_iframe">
                      <input class="form-control" name="entry.828595295" type="hidden" value="ID 49324">
                      <input class="form-control" name="entry.701237804" type="hidden" value="49324" >
                            <div class="col-md-6"> 
                   <div class="one_of_the_boxes">
                     <div class="icon_box country-icon"></div>
                    <select name="entry.573106087"  class="crs-country"  data-default-value=""  data-blacklist="CD,CG,SH,GS" data-region-id="six"></select>
                     
                </div></div>
                     <div class="col-md-6"> 
                   <div class="one_of_the_boxes">
                     <div class="icon_box location"></div>
                    <select name="entry.1077353202" id="six" data-default-value=""></select>
                </div></div>
                       
                         <div class="col-md-6">
                            <div class="one_of_the_boxes"><div class="icon_box gender"></div>
                             
                                <select class="form-input" name="entry.348946234" type="text" required >
                                    <option>Choose Your Gender</option>
                                    <option>Male</option>
                                    <option>Female</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="one_of_the_boxes"><div class="icon_box birth"></div>
                              
                                <select class="form-input" name="entry.1525446704" type="text" required >
                                    <option>Choose Birth Year</option>
                                    <option>1971</option>
                                    <option>1972</option>
                                    <option>1973</option>
                                    <option>1974</option>
                                    <option>1975</option>
                                    <option>1976</option>
                                    <option>1977</option>
                                    <option>1978</option>
                                    <option>1979</option>
                                    <option>1980</option>
                                    <option>1981</option>
                                    <option>1982</option>
                                    <option>1983</option>
                                    <option>1984</option>
                                    <option>1985</option>
                                    <option>1986</option>
                                    <option>1987</option>
                                    <option>1988</option>
                                    <option>1989</option>
                                    <option>1990</option>
                                    <option>1991</option>
                                    <option>1992</option>
                                    <option>1993</option>
                                    <option>1994</option>
                                    <option>1995</option>
                                    <option>1996</option>
                                    <option>1997</option>
                                    <option>1998</option>
                                    <option>1999</option>
                                    <option>2000</option>
                                    <option>2001</option>
                                    <option>2002</option>
                                    <option>2003</option>
                                    <option>2004</option>
                                    <option>2005</option>
                                    <option>2006</option>
                                    <option>2007</option>
                                    <option>2008</option>
                                    <option>2009</option>
                                    <option>2010</option>
                                    </select>
                            </div>
                        </div>
                        
                              
             
                   
                   
		       
		       
		       <div class="col-md-6">
                              <div id="box-fullname" class="one_of_the_boxes"><div class="icon_box person"></div>
                    <input id="fullname"  name="entry.112712811"  class="form-input" type="text" placeholder="Type First Name Here" autocapitalize="words" onkeyup="fullnameKeyUp(this.value)" required>
                </div>
                            
                            </div>
                        
                        <div class="col-md-6">
                          <div id="box-fullname" class="one_of_the_boxes"><div class="icon_box person"></div>
                    <input id="fullname"  name="entry.1664981470" class="form-input" type="text" placeholder="Type Last Name Here" autocapitalize="words" onkeyup="fullnameKeyUp(this.value)" required>
                </div>
                         
                        </div>
		       
		       <div class="col-md-6">
                            <div class="one_of_the_boxes"><div class="icon_box email"></div>
                             
                                <input class="form-input" name="emailAddress" placeholder="Type Email Address Here" type="text" required >
                            </div>
                        </div>
		       
		       
                   <div class="col-md-6"> 
                              <div id="box-phone" class="one_of_the_boxes">
    <div class="icon_box phone"></div>
  <input autocomplete="off" tabindex="4" type="tel" class="form-input" id="phone" name="entry.538648952" placeholder="Find WhatsApp # (c/Flag)" data-parsley-trigger="focusout" data-parsley-minlength="9" data-parsley-required="" data-parsley-id="7404" required>
        </div> </div>
                       
                             
   <center><h6>By Tap "Agree and Continue", you agree to our Terms and Policy. You may receive WhatsApp, SMS Notifications from us and can opt out any time..</h6></center>

                                        <span class="input-group-btn">
                                          <center>  <input class="btn btn-outline btn-xl" type="submit" value="Agree and Continue"></center>
                                        </span>
               
                </form> 
            


  <script src="https://www.watsapp.tv/js/crs.min.js"></script>
     
    <link rel="stylesheet" type="text/css" href="https://www.watsapp.tv/css/whatsapp.css" />
    <link rel="stylesheet" type="text/css" href="https://www.watsapp.tv/css/intlTelInput.css" />
    <script type="text/javascript" src="https://www.watsapp.tv/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="https://www.watsapp.tv/js/intlTelInput.min.js"></script>
    <script src="https://www.watsapp.tv/js/intlTel.js"></script>
