<header> 

<section id="features" class="features">
    <div class="container">
       <div class="row">      
 <center>
 <h3>To Check The Balance On Your eGift Card </h3>
 </center>

 <div class="row text-center">
                 
                 <!--  <h3> ONLY MEMBERS CAN PURCHASE OUR VOUCHERS </h3>    -->	
                  
All Purchased Shopping Voucher QR-Codes Are Combined In The Master QR-Code On Your Gift Card. 
                
            <br> 
  <center>  <img src="{{site.baseurl}}/img/Card%20Scan%202%20Mu.png" width="644" height="" alt="485"> 

<br><br>
     
    <form id="redirectForm">
        <label for="code">Enter Card Number:</label>
        <input type="text" id="code" name="code" required>
        <br>
        <label for="pin">Enter 4-Digit Code:</label>
        <input type="password" id="pin" name="pin" required>
        <br><br>
        <button class="btn btn-outline btn-xla" id="mc-embedded-subscribe" type="submit"><i class="fa-solid fa-computer-mouse"></i> Check Your Balance </button>
    </form>

    <script>
        document.getElementById("redirectForm").addEventListener("submit", function(event) {
            event.preventDefault();
            
            const code = document.getElementById("code").value;
            const pin = document.getElementById("pin").value;
            
            if (code && pin) {
                const url = `https://billpayment.getgiftme.com/?code=${encodeURIComponent(code)}&pin=${encodeURIComponent(pin)}&context=modal`;
                window.location.href = url;
            }
        });
    </script>
</div></div>
           
</section>
           
</header>
