<section id="signup" class="signup">
        <div class="container">
            <div class="row text-center">
                <div class="clear"><input type="submit" value="CONTACT ME FOR A FREE ASSESSMENT" name="subscribe" id="mc-embedded-subscribe" class="btn btn-outline btn-xla"></div>
    <!-- <button type="submit" id="mc-embedded-subscribe" class="btn btn-outline btn-xl">CONTACT ME FOR A FREE <span>60 MIN ASSESSMENT</span></button> -->
                  <div class="clear">  <a href="https://www.allpree.com/how/" class="page-scroll"><button class="btn btn-outline btn-xla" id="mc-embedded-subscribe"><i class="fa-solid fa-computer-mouse"></i> Click Here </button></a></div>
    </div>
            </div>
        </div>
</section>
