<header> 
<!-- 	 -->
	
<div class="container">
            <div class="row land">
                <div class="home">
                <div class="col-md-6">
			<div class="home-right1">
			  <div class="image-cont5"></div>
                        </div>
                            </div>              
                            
                <div class="col-md-6">
                        <div class="home-left">
			<div class="image-cont6"></div>		
                    </div>
                </div>
                  
<br>
			
		<center>  <img src="{{site.baseurl}}/img/cashbackpercentage.png" width="644" height="" alt="485">
			<br><br>
			<a href="https://www.allpree.com/how/" class="page-scroll"><button class="btn btn-outline btn-xla" id="mc-embedded-subscribe"><i class="fa-solid fa-computer-mouse"></i> Find out How It Work</button></a> </center>
    
					
                          <br><br> 	
            </div>
          </div>
                </div>
            </div>
         </div>
	
</header>
