<header> 
<!-- 	 -->
	
<div class="container">
            <div class="row land">
                <div class="home">
                <div class="col-md-6">
			<div class="home-right1">
			  
                        </div>
                            </div>              
                            
                <div class="col-md-6">
                        <div class="home-left">
					
                    </div>
                </div>

BE SMART. SHOP CLEVER. GET PAID. IT'S TIME TO MAKE MONEY WHILE SHOPPING IN JAMAICA! THIS WAS DESIGNED FOR A NEW GENERATION OF SHOPPERS

Dear Savvy Shopper,

Are you ready to revolutionize your shopping experience and unlock unprecedented savings? Imagine a world where every purchase you make earns you money back. Well, stop imagining because with our exclusive Cashback Program, this dream becomes your reality!

Introducing Our Cashback Program:
Did you know that while Gift Cards are the latest craze for in-store shopping, Cashback is the innovative promotional tool that savvy shoppers like you can't afford to miss? Unlike the tiny 3% cashback offered by other companies, our program elevates your savings game to a whole new level. We specialize in unlocking Cashback ranging from an impressive 27% up to a staggering 49% exclusively for you through our dedicated commodity trading efforts.

Membership Benefits:
Choose between our Basic or Premium membership options and cover the first-year membership fee. Upon enrollment, we'll swiftly dispatch your personalized Membership Card featuring a master QR-code, granting you access to over 300+ partner locations islandwide. With this card in hand, you're poised to unlock savings like never before.

How It Works:
It's simple. Plan your purchases by acquiring Vouchers in advance based on your monthly spending pattern. Then, within 121 days of each purchase, watch your desired cashback materialize like magic. At checkout, simply swipe your merchant rewards card if you have one, and inform the cashier that you're paying with GiftMe. Let them scan the Master QR Code on your Membership Card, enter your PIN, and voilà! You've just earned yourself some serious savings.

Joining Is Easy:
Subscribe to our WhatsApp channel and enable notifications to receive crucial updates from our HR team. Rest assured, your privacy is our priority, and your personal information remains confidential. If you were referred by a friend, provide our HR team with their referral number when prompted.

Act Now, Reap the Rewards:
Don't delay! Join our Cashback Program today and start maximizing your savings potential. Remember, every purchase you make is an opportunity to earn money back. Seize the moment before this exclusive offer slips away!

Thank you for considering our Cashback Program. We can't wait to welcome you to our community of smart shoppers.

			
<br>
			
		<center>  <img src="{{site.baseurl}}/img/cashbackpercentage.png" width="644" height="" alt="485">
			<br><br>
			<a href="https://www.allpree.com/how/" class="page-scroll"><button class="btn btn-outline btn-xla" id="mc-embedded-subscribe"><i class="fa-solid fa-computer-mouse"></i> Find out How It Work</button></a> </center>
    
					
                          <br><br> 	
            </div>
          </div>
                </div>
            </div>
         </div>
	
</header>
