<style>
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
</style>
<header> 
<!-- 	 -->
	
<div class="container">
            <div class="row land">
                <div class="home">     
			<div class="center">
                <div class="col-md-6 home-txt1">
                        
               
		
<h4>DEAR SAVVY SHOPPER,</h4>

Are you ready to revolutionize your shopping experience and unlock unprecedented savings? Imagine a world where every purchase you make earns you money back. Well, stop imagining because with our exclusive Cashback Program, this dream becomes your reality!

<center> <h4>Introducing Our Cashback Program</h4> </center>
			
Did you know that while Gift Cards are the latest craze for in-store shopping, Cashback is the innovative promotional tool that savvy shoppers like you can't afford to miss? Unlike the tiny 3% cashback offered by other companies, our program elevates your savings game to a whole new level. We specialize in unlocking Cashback ranging from an impressive 27% up to a staggering 49% exclusively for you through our dedicated commodity trading efforts.

<center> <h4>Membership Benefits</h4> </center>
Choose between our Basic Standard or Premium membership options. 
		<br><br>
			
		<center>  <img src="{{site.baseurl}}/img/cashbackpercentage.png" width="644" height="" alt="485"></center>
			<br><br>	
			
			Upon enrollment, we'll swiftly dispatch your personalized Membership Card featuring a master QR-code, 
			
			<br><br><center>  <img src="{{site.baseurl}}/img/Card Scan 2 M.png" width="208" height="" alt="208"></center><br><br>
			granting you access to over 300+ partner locations islandwide. With this digital card, you can unlock savings like never before.
			
		<center> <br><br><a href="https://www.allpree.com/info/" class="page-scroll"><button class="btn btn-outline btn-xla" id="mc-embedded-subscribe"><i class="fa-solid fa-computer-mouse"></i> to View all merchants</button></a> </center>
    
	
<br><br><center> <h4>How It Works</h4> </center>
It's simple. Plan your purchases by acquiring Vouchers in advance based on your monthly spending pattern. Then, within 121 days of each purchase, watch your desired cashback materialize like magic. At checkout, simply swipe your merchant rewards card if you have one, and inform the cashier that you're paying with GiftMe. Let them scan the Master QR Code on your Membership Card, enter your PIN, and voilà! You've just earned yourself some serious savings.
<br><br><center>  <img src="{{site.baseurl}}/img/evouchers.png" width="644" height="" alt="485"></center>

			<center> <h4>Joining Is Easy</h4> </center>
Subscribe to our WhatsApp channel and enable notifications to receive crucial updates from our HR team. Rest assured, your privacy is our priority, and your personal information remains confidential. If a friend referred you, provide our HR team with their referral number when prompted.
<center> <br><br><a href="https://www.allpree.com/channel/" class="page-scroll"><button class="btn btn-outline btn-xla" id="mc-embedded-subscribe"><i class="fa-solid fa-computer-mouse"></i> Follow our WhatsApp Channel</button></a> </center>
    
	
			
			
<br><br><center> <h4>Act Now, Reap the Rewards</h4> </center>
Don't delay! Join our Cashback Program today and start maximizing your savings potential. Remember, every purchase you make is an opportunity to earn money back. Seize the moment before this exclusive offer slips away!

<br><br>Thank you for considering our Cashback Program. We can't wait to welcome you to our community of smart shoppers.

			
<br><br><br>
	 </div>
				</div>
            </div>
          </div>
                </div>
            
	
</header>
