<!-- Physical Reusable QR-Scan Gift Card  -->
<section id="benefits" class="benefits bg-primary text-center">
        <div class="container">
            <div class="row">
             <h2>BE SMART <br> Shop Clever. Get Paid</h2>  
                 <h3>IT'S TIME TO MAKE MONEY WHILE SHOPPING IN JAMAICA! </h3>
                         <!-- <br> <br>  Designed For A New<br> Generation Of Shoppers Purchase As Many Shopping eVouchers and Receive Cashback  
                         <br>On Each Voucher, Ranging From J$1,350 upto J$8,000  
                  <h2>GET THE SMARTEST <br><strong>GIFT CARD</strong> EVER MADE </h2> -->

              <center>    CASHBACK PROGRAM STATISTICS (Jan. 2024 - PRESENT) </center>
               <div class="col-md-4">
                   <div class="brdr">
               <!--   <img width="50" src="{{site.baseurl}}/img/" alt="Funny Memes">  -->
                    <h3> Spend In-Store<br> $252,476.92 JMD </h4h3> 
                   </div>

               </div>


               <div class="col-md-4">
                  <div class="brdr">
          <!--   <img width="70" src="{{site.baseurl}}/img/" alt="Viral Clips"> -->
                <h3> CashBack Confirm <br>$110,050.00 JMD </h3>  
                </div>
               </div> 


               <div class="col-md-4">
                 <div class="brdr">
             <!--       <img width="50" src="{{site.baseurl}}/img/" alt="Motivation Quotes"> -->
                   
                         <h3>eVoucher Purchase <br> $275,000.00 JMD </h3>
                   </div>
               </div> 



        <!--   <div class="row mt50">

               <div class="col-md-6">
                  <div class="brdr">
                  <img width="50" src="{{site.baseurl}}/img/" alt="Relationship Advice"> 
                   <h3>Special <br> in-Store Shopping </h3>
                   </div>
               </div>
                    
                    
                     
               <div class="col-md-6">
                 <div class="brdr">
                  <img width="50" src="{{site.baseurl}}/img/" alt="Breaking News">
                   <h3>Deals <br> in-Store Shopping</h3>
                   </div>
               </div> -->

            </div>


        </div>
       
    </section>
