<header> 
<!-- 	 -->
	
<div class="container">
            <div class="row land">
                <div class="home">
			<center>  <h3> Choose Between Digital or Physical </h3>
			</center>
                <div class="col-md-6">
			<div class="home-right1">
			  <div class="image-cont4"></div>
                        </div>
                            </div>              
                            
                <div class="col-md-6">
                        <div class="home-left">
			<div class="image-cont5"></div>		
                    </div>
                </div>
                  	
            </div>
          </div>
                </div>
            </div>
         </div>
	
</header>
