<br><br><br><br><br><br>
<style>
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
</style>	
<div class="container">
            <div class="row land">
                <div class="home">     
			<div class="center">
                <div class="col-md-6 home-txt1">    

                  <center>  <img src="{{site.baseurl}}/img/IMG_20250401_195001_287.png" width="100" height="" alt="100"> 

<br><br>
 
       <center> <strong>YOU CAN WHATSAPP MR PREE</strong> <br> To Get A Full Summary Of Your CashBack</center><br>
      <a href="https://api.whatsapp.com/send?phone={{site.tellbot}}&text=Send my CashBack summary please" class="page-scroll"><button class="btn btn-outline btn-xl" id="#signup"><strong><i class="fa-solid fa-computer-mouse"></i> Click Here</strong></button></a>
  </center> <br>
</div>
				</div>
            </div>
          </div>
                </div>
