
<br> <br>
                                    
                                
                               <br><br>Once You Download & Save Our Number, it will allow you to start seeing our <i class="fa fa-whatsapp"></i> Status on the next post, Follow the instruction below to save our mobile number
                           <br><br>
                           <a href="https://www.watsapp.tv/watsapptv.vcf" class="page-scroll"><button class="btn btn-outline btn-xl" id="#signup"><strong><i class="fa fa-android"></i><i class="fa fa-apple"></i> Virtual Contact Card</strong></button></a>
                               <br>
                           

                            
                          <p><strong>Instruction To Save Contact In Your Phome</strong><br><br>
                               <i class="fa fa-android"></i> Android User: Click on the button above to download Our Virtual Contact Card, Look for the recent download watsapptv.vcf file in your download folder, click to open it. You'll see 3 numbers inside, tap on the save button and thats it
                            <br><br>
                               <i class="fa fa-apple"></i> Apple User: Click on the button above to download Our Virtual Contact Card, click the allow prompt, tap on the share icon, click on Contacts. You'll see 3 numbers inside, tap on the save button and thats it <br> 


<p>Restrict us from viewing your status (very important) Why? WhatsApp will hangs our status and it will take forever to upload to our status<br><br>

                            <b>How:</b><br>
                          &nbsp;&nbsp;&nbsp;<b>¹:</b> Go to WhatsApp.<br>
                          &nbsp;&nbsp;&nbsp;<b>²:</b> Find status privacy.<br>
                          &nbsp;&nbsp;&nbsp;<b>³:</b> Click on 'My contacts except...'<br>
                          &nbsp;&nbsp;&nbsp;<b>⁴:</b> Search For 'WatsApp'<br> 
                          &nbsp;&nbsp;&nbsp;<b>⁵:</b> Select all 3 contacts under our name.<br>
                          
                        

<br><br>
                          <b>Note:</b> If you cant see our status within 2 hours from now, that mean you miss some of the information on the form when you where signing up
                            <br><br>
                          
                        </div>
                    </div>
                </div>
           
