<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="theme-color" content="#D81033">
    <link rel="apple-touch-icon" href="https://billpayment.getgiftme.com/assets/images/icons/Icon-180.png">
    <link rel="shortcut icon" href="https://shopgiftme.com/assets/images/icons/Icon-32.png">
    <title>Giftme's Bill Pay</title>
  <script type="module" crossorigin src="https://billpayment.getgiftme.com/assets/index.264c3d65.js"></script>
  <link rel="stylesheet" href="https://billpayment.getgiftme.com/assets/index.a8c0a2d4.css">
</head>

<body>
    <div id="root"></div>

     <button id="billPayModalTrigger" type="button"
                            data-href="https://billpayment.getgiftme.com/?code=497065464945&pin=1144&context=modal"
                            class="border-none block text-center w-full capitalize bg-tertiary-500 text-white py-3.5 rounded px-10 hover:bg-primary-400">
                            Pay Bills
                        </button>
    
</body>

</html>

