<footer>

<div id="dvFooterWrap">
			<div>
				<h1><img src="/img/ftrHeadlineImg.gif" alt=""> Legal Terms</h1>
				<ul>
				    <li><a id="ctl00_Footer71_hlsmd" href="http://www.garenthoms.com/legal/social-media-disclosure.html"target="_blank" rel="nofollow">Social Media Disclosure</a></li>
				    <li><a id="ctl00_Footer71_hlcn" href="http://www.garenthoms.com/legal/copyright-notice.html"target="_blank" rel="nofollow">Copyright Notice</a></li>
				    <li><a id="ctl00_Footer71_hld" href="http://www.garenthoms.com/legal/disclaimer.html"target="_blank" rel="nofollow">Disclaimer</a></li>
				    <li><a id="ctl00_Footer71_hlasp" href="http://www.garenthoms.com/legal/anti-spam-policy.html"target="_blank" rel="nofollow">Anti-Spam Policy</a></li>
				    <li><a id="ctl00_Footer71_hltc" href="http://www.garenthoms.com/legal"target="_blank" rel="nofollow">Terms & Conditions</a></li>
				    <li><a id="ctl00_Footer71_hlPrivacy" href="http://www.garenthoms.com/legal/privacy-policy.html"target="_blank" rel="nofollow">Privacy Policy</a></li>
                                    <li><a id="ctl00_Footer71_hlftc" href="http://www.garenthoms.com/legal/ftc-compliance.html"target="_blank" rel="nofollow">FTC Compliance</a></li>
				    <li><a id="ctl00_Footer71_hldmca"href="http://www.garenthoms.com/legal/dmca-compliance.html"target="_blank" rel="nofollow">DMCA Compliance</a></li>
				</ul>
			</div>
			<div id="dvFeatured">
				<h1><img src="/img/ftrHeadlineImg.gif" alt=""> Featured On:</h1>
				<img src="/img/ftrFeatured.gif" alt="">
				<p><img src="/img/authorize.png" alt="Authorize.net"> 
            <img src="/img/bbb.png" alt="Better Business Bureau">
            <img src="/img/verisign.png" alt="Verisign">
            </p>
			</div>
			<div id="dvFtrConnect">
				<h1><img src="/img/ftrHeadlineImg.gif" alt=""> Connect</h1>
				<ul>
					<li><a id="ctl00_Footer71_hlBlog" href="http://www.garenthoms.com/blog/"><img src="/img/blog.gif" alt="Blog">Garen's Blog</a></li>
					<li><a href="https://twitter.com/garenthoms" target="_blank"><img src="/img/twitter.png" alt="Twitter">Twitter</a></li>
					<li><a href="http://www.facebook.com/fangarenthoms?sk=wall" target="_blank"><img src="/img/facebook_002.png" alt="Facebook">Facebook</a></li>
					<li><a href="http://www.youtube.com/garenthoms" target="_blank"><img src="/img/youtube.png" alt="Youtube">YouTube</a></li>
					<li><a href="mailto:support@garenthoms.com"><img src="/img/images/email.png" alt="Email">Email Customer Support</a></li>
				</ul>
				
                <p id="trust">
                    
                </p>
                <div class="authorize">
</div>
			</div>
			<p class="copyright">
				Your Privacy is Guaranteed. We will never give, lease or sell your personal information. Period!<br>
				&copy; Copyright 2008 - <SCRIPT language=JavaScript>
<!--

    today=new Date();
    y0=today.getFullYear();

  // end hiding --->

</SCRIPT>

            <SCRIPT language=JavaScript>
  <!--- Hide from  old browsers
    document.write(y0);
  // end hiding --->
</SCRIPT> Garen Thoms Network. All Rights Reserved
			</p>
		</div>
  </footer>
