<footer>
      <div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">&copy;&nbsp;<script>document.write(new Date().getFullYear());</script>&nbsp;WatsApp TV. All Rights Reserved. <br>
							
							<a href="https://tiktok.com/@joinwatsapp"><i class="fa-brands fa-tiktok"></i></a>
				    <a href="https://twitter.com/{{site.twitter.username}}"><i class="fa-brands fa-twitter"></i></a>
				    <a href="https://facebook.com/{{site.facebook.publisher}}"><i class="fa-brands fa-facebook"></i></a>
				    <a href="https://instagram.com/joinwatsapp"><i class="fa-brands fa-instagram"></i></a>
				    <a href="https://www.snapchat.com/add/joinwatsapp"><i class="fa-brands fa-snapchat"></i></a> 
							<a href="{{site.youtube}}"><i class="fa-brands fa-youtube"></i></a>
							
							<br><br>This project is not endorsed by, affiliated to, or sponsored by WhatsApp Inc. and their products in any way. We just use the WhatsApp platform to share good content.</small>
						<!-- <small>GSTN: 29EVLPS9250Q1Z8</small> -->

				    </p>


						
							    
						

				</div>
			</div>
		</div>
      
  </footer>
