<style>
.expl {
  padding: 115px 0;
}
</style>
<section id="features" class="features">
    <div class="container">
               <div class="row text-center">
                  <h3> CASHBACK RANGE FROM 27% UPTO 40%</h3>    	
                 Use our gift card only at authorized merchants that accept Giftme, Funds do not expire and are not redeemable for cash. For full terms and conditions of use visit www.shopgiftme.com/terms
            <br><br><br><br>   </div>
       <div class="row mt50 bor">
                <div class="col-md-6">
                   <div class="expl">
                 <br><br>
                       
              <!-- 	      <h1 align="right" > 40% CASHBACK</h1>   
                   <p align="right">  Use this gift card only at authorized merchants that accept Giftme 	Funds do not expire 	Not redeemable for cash 	For full terms and conditions of use visit www.shopgiftme.com/terms
                    <br> - Funds do not expire 			
                    <br> - Not redeemable for cash 		
                    <br>  For full terms and conditions of use visit www.shopgiftme.com/terms
                     </p>  -->
                    </div>
                </div> 
                <div class="col-md-6">
                    <img src="{{site.baseurl}}/img/price6.png" width="250" height="380" alt="">
  
                </div>
        </div> 

   

    <div class="row bor">
                <div class="col-md-6 rev-txt">
                        <div class="expl">
                       <br><br>
                    <!--        <h1 > 39% CASHBACK</h1>   -->
                        </div>
                </div>
                <div class="col-md-6 rev-img">
                    <img align="right" src="{{site.baseurl}}/img/price5.png"  width="250" height="380"  alt="">
                      
                </div>
        </div>
       <div class="row bor">
                <div class="col-md-6">
                   <div class="expl">
                   
                       <br><br>    
                <!--     <h1 align="right" > 35% CASHBACK</h1>   -->
                   </div>
                </div>
                <div class="col-md-6">
                     <img src="{{site.baseurl}}/img/price4.png" width="250" height="380" alt="">
                    
                
                </div>
        </div>  

    <div class="row bor">
                <div class="col-md-6 rev-txt">
                        <div class="expl">
                       
                      <br><br>
                    <!--        <h1  > 33% CASHBACK</h1>   -->
                        </div>
                </div>
                <div class="col-md-6 rev-img">
                      <img align="right" src="{{site.baseurl}}/img/price3.png"  width="250" height="380" alt="">

                </div>
        </div>
        <div class="row bor">
                <div class="col-md-6">
                   <div class="expl">
                 <br><br>
                 <!--      <h1 align="right" > 29% CASHBACK</h1>     -->   
                   </div>
                </div>
                <div class="col-md-6">
                     <img src="{{site.baseurl}}/img/price2.png" width="250" height="380" alt="">
                    
                
                </div>
        </div>  

 <div class="row bor">
                <div class="col-md-6 rev-txt">
                        <div class="expl">
            <br><br>
                   <!--       <h1 > 27% CASHBACK</h1>   -->
                        </div>
                </div>
                <div class="col-md-6 rev-img">
                      <img align="right" src="{{site.baseurl}}/img/price1.png"  width="250" height="380" alt="">

                </div>
        </div>
</section>
