<style>
.expl {
  padding: 0px 0;
}
</style>
<section id="features" class="features">
    <div class="container">
               <div class="row text-center">
                 <!--  <h3> ONLY MEMBERS CAN PURCHASE OUR VOUCHERS </h3>    -->	
                  As a member, you first need to buy our Physical eGift Card which is accepted at over 364+ merchants and has no expiry date. It can be used multiple times at various stores <br> but cannot be exchanged for cash. All vouchers purchased can be used on one Physical eGift Card 
                 <br><a href="https://www.allpree.com/info" ><strong>To View All 364+ Merchants Click Here</strong></a> 
            <br> <br>  </div>
       <div class="row mt50 bor">
                <div class="col-md-6">
                   <div class="expl">
                 <br><br>
                       
              <!-- 	      <h1 align="right" > 40% CASHBACK</h1>   
                   <p align="right">  Use this gift card only at authorized merchants that accept Giftme 	Funds do not expire 	Not redeemable for cash 	For full terms and conditions of use visit www.shopgiftme.com/terms
                    <br> - Funds do not expire 			
                    <br> - Not redeemable for cash 		
                    <br>  For full terms and conditions of use visit www.shopgiftme.com/terms
                     </p>  -->
                    </div>
                </div> 
                <div class="col-md-6">
                    <img src="{{site.baseurl}}/img/price6.jpg" width="250" height="380" alt="">
  
                </div>
        </div> 

   

    <div class="row bor">
                <div class="col-md-6 rev-txt">
                        <div class="expl">
                       <br><br>
                    <!--        <h1 > 39% CASHBACK</h1>   -->
                        </div>
                </div>
                <div class="col-md-6 rev-img">
                    <img align="right" src="{{site.baseurl}}/img/price5.jpg"  width="250" height="380"  alt="">
                      
                </div>
        </div>
       <div class="row bor">
                <div class="col-md-6">
                   <div class="expl">
                   
                       <br><br>    
                <!--     <h1 align="right" > 35% CASHBACK</h1>   -->
                   </div>
                </div>
                <div class="col-md-6">
                     <img src="{{site.baseurl}}/img/price4.jpg" width="250" height="380" alt="">
                    
                
                </div>
        </div>  

    <div class="row bor">
                <div class="col-md-6 rev-txt">
                        <div class="expl">
                       
                      <br><br>
                    <!--        <h1  > 33% CASHBACK</h1>   -->
                        </div>
                </div>
                <div class="col-md-6 rev-img">
                      <img align="right" src="{{site.baseurl}}/img/price3.jpg"  width="250" height="380" alt="">

                </div>
        </div>
        <div class="row bor">
                <div class="col-md-6">
                   <div class="expl">
                 <br><br>
                 <!--      <h1 align="right" > 29% CASHBACK</h1>     -->   
                   </div>
                </div>
                <div class="col-md-6">
                     <img src="{{site.baseurl}}/img/price2.jpg" width="250" height="380" alt="">
                    
                
                </div>
        </div>  

 <div class="row bor">
                <div class="col-md-6 rev-txt">
                        <div class="expl">
            <br><br>
                   <!--       <h1 > 27% CASHBACK</h1>   -->
                        </div>
                </div>
                <div class="col-md-6 rev-img">
                      <img align="right" src="{{site.baseurl}}/img/price1.jpg"  width="250" height="380" alt="">

                </div>
        </div>
</section>
