<br><br>
<style>
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
</style>	
<div class="container">
            <div class="row land">
                <div class="home">     
			<div class="center">
                <div class="col-md-6 home-txt1">
<center>  <h3><strong> HOW TO PURCHASE eVOUCHERS </strong> </h3> </h4> Bank Transfer: ( Voucher Price To Our Bank Account)</h4> </center> <br>
         

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>NOTE:</b> When paying through your bank, make sure to take a screenshot of your receipt 🧾 and send it to us along with your referral code on WhatsApp
It helps us to track your transactions within the company and ensure that we can accurately credit your gift card 

<br>
    
                 
                 <!--  <h3> ONLY MEMBERS CAN PURCHASE OUR VOUCHERS </h3>    	
                  
All Purchased eVoucher QR-Codes Are Combined In The Master QR-Code On Your Gift Card. -->
                
            <br> 
  <center>  <img src="{{site.baseurl}}/img/evouchersprice.png" width="544" height="" alt="485"> </center>

   			<br>	<br>

<h3> 
    
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;✅ <strong>Bank:</strong> Bank of Nova Scotia Jamaica <br> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;✅ <strong>Branch:</strong> Sav-La-Mar <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;✅ <strong>Branch/transit number:</strong> 00265 <br>				      
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;✅ <strong>Account type:</strong> Chequing <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;✅ <strong> Account number:</strong>00265 000603575 <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;✅ <strong>Account currency:</strong>  JMD <br>



  </h3> <br>
    
 <a href="https://www.allpree.com/info/" class="page-scroll"><button class="btn btn-outline btn-xla" id="mc-embedded-subscribe"><i class="fa-solid fa-computer-mouse"></i> To View All Merchants
</button></a> 
  </div>
				</div>
            </div>
          </div>
                </div>
