
<header> 
<!-- 	 -->
	
	<style>

#search-container {
    max-width: 100%;
        

}

input[type=text] {

    outline: none;
    padding: 15px 25px;
    margin: 5px 1px 3px 0px;
    border: none;
    width: 100%;
    border-radius: 1px;
    box-shadow: 0 1px 0px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);

}

input[type=text]:hover {
    outline: none;
    border: none;
    margin: 5px 1px 3px 0px;
    padding: 15px 25px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
     box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

input[type=text]:focus {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    margin: 5px 1px 3px 0px;
    padding: 15px 25px;
    border: none;
    outline: none;
        -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

@media screen and (max-width: 600px) {
    input[type=text]{
            width: 100%;
            box-sizing: border-box;
    }
    }
</style>
<style>
	  .demo-wrapper {
		  max-width: 80%;
		  margin: 5% auto;
	  }
  </style>
<div class="container">
            <div class="row land">
                <div class="home">
                <div class="col-md-6 home-txt">
                   <div class="home-right">
			   
                               <div class="home-exp">
				   <h3><strong>Subscribe To Our <i class="fa-brands fa-whatsapp"></i> Status For A Chance To Win 1 of 20 {{site.giveaway}} For FREE! </strong></h3>
				<h4> We're Giving Away 2 FREE {{site.giveaway}}! If You Refer A Friend, & They Win, You Win A {{site.giveaway}} Too!</h4>

          
                              <script type="text/javascript">var submitted=false;</script>
<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {window.location='{{site.baseurl}}/thankyou/';}"></iframe>
               
              <form action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSfw0Sts9wFjaExeOLWxUGAhdrEbfMEE2n6kh430bFqb0xKO2w/formResponse" id="wj-form" method="post" onsubmit="submitted=true" target="hidden_iframe">
                      <input class="form-control" name="entry.1092645840" type="hidden" value="ID J388640">
                      <input class="form-control" name="entry.2034350499" type="hidden" value="J388640">
                      <input class="form-control" name="entry.297851038" type="hidden" value="">
                      <input class="form-control" name="entry.663913627" type="hidden" value="">
                          <input class="form-control" name="entry.218867361" type="hidden" value="">
                          
                         
                          
                          <div class="col-md-6">
                              <div id="box-fullname" class="one_of_the_boxes"><div class="icon_box person"></div>
                    <input id="fullname"  name="entry.1502543154"  class="form-input" type="text" placeholder="First Name" autocapitalize="words" onkeyup="fullnameKeyUp(this.value)" required>
                </div>
                            
                            </div>
                        
                        <div class="col-md-6">
                          <div id="box-fullname" class="one_of_the_boxes"><div class="icon_box person"></div>
                    <input id="fullname"  name="entry.166208811" class="form-input" type="text" placeholder="Last Name" autocapitalize="words" onkeyup="fullnameKeyUp(this.value)" required>
                </div></div>
                          
                         
                        
                       <div class="col-md-6">
                            <div class="one_of_the_boxes"><div class="icon_box email"></div>
                             
                                <input class="form-input" name="emailAddress" placeholder="Email Address" type="text" required >
                            </div>
                        </div>
                          <div class="col-md-6"> 
                              <div id="box-phone" class="one_of_the_boxes">
    <div class="icon_box phone"></div>
  <input autocomplete="off" tabindex="4" type="tel" class="form-input" id="phone" name="entry.1897494140" placeholder="+ Select Flag" data-parsley-trigger="focusout" data-parsley-minlength="9" data-parsley-required required>
        </div> </div>
                          
                      <!--   <div class="col-md-6">
                            <div class="one_of_the_boxes">
                                        <div class="icon_box category"></div>
                             
                                <select class="form-input" name="entry.663913627" type="text" required >
                                    <option>Select Card Type</option>
                                    <option>Digital Free</option>
                                   <option>Physical J$2500</option>
                                </select>
                            </div>
                        </div>
                          
                           <div class="col-md-6">
                            <div class="one_of_the_boxes"><div class="icon_box category"></div>
                              
                                <select class="form-input" name="entry.218867361" type="text" required >
                                    <option>Select Membership Level</option>
                                    <option>Basic Free</option>
                                    <option>Standard $3,654 13% off</option>
                                    <option>Premium $6,720 20% off</option>
                                    </select>
                            </div>
                        </div> -->
                          
                          <div class="col-md-6"> 
                   <div class="one_of_the_boxes">
                     <div class="icon_box country-icon"></div>
                    <select name="entry.1890405601"  class="crs-country"  data-blacklist="CD,CG,SH,GS" data-region-id="seven"></select>
                     
                </div></div>
                     <div class="col-md-6"> 
                   <div class="one_of_the_boxes">
                     <div class="icon_box location"></div>
                    <select name="entry.341957417" id="seven" data-default-value=""></select>
                </div></div>
                          
                            
                      
                         <div class="col-md-6">
                            <div class="one_of_the_boxes"><div class="icon_box gender"></div>
                             
                                <select class="form-input" name="entry.208508536" type="text" required >
                                    <option>Gender</option>
                                    <option>Male</option>
                                    <option>Female</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="one_of_the_boxes"><div class="icon_box birth"></div>
                              
                                <select class="form-input" name="entry.577240945" type="text" required >
                                    <option>Birth Year</option>
                                    <option>1971</option>
                                    <option>1972</option>
                                    <option>1973</option>
                                    <option>1974</option>
                                    <option>1975</option>
                                    <option>1976</option>
                                    <option>1977</option>
                                    <option>1978</option>
                                    <option>1979</option>
                                    <option>1980</option>
                                    <option>1981</option>
                                    <option>1982</option>
                                    <option>1983</option>
                                    <option>1984</option>
                                    <option>1985</option>
                                    <option>1986</option>
                                    <option>1987</option>
                                    <option>1988</option>
                                    <option>1989</option>
                                    <option>1990</option>
                                    <option>1991</option>
                                    <option>1992</option>
                                    <option>1993</option>
                                    <option>1994</option>
                                    <option>1995</option>
                                    <option>1996</option>
                                    <option>1997</option>
                                    <option>1998</option>
                                    <option>1999</option>
                                    <option>2000</option>
                                    <option>2001</option>
                                    <option>2002</option>
                                    <option>2003</option>
                                    <option>2004</option>
                                    <option>2005</option>
                                    <option>2006</option>
                                    <option>2007</option>
                                    <option>2008</option>
                                    <option>2009</option>
                                    <option>2010</option>
                                    </select>
                            </div>
                        </div>
                          
                          
                      
                             
  <small class="block"> <center>By Tap "Agree and Continue", you agree to our Terms and Policy. You may receive WhatsApp, SMS Notifications from us and can opt out any time..</center></small>
<br>
                                        <span class="input-group-btn">
                                          <center>  <input class="btn btn-outline btn-xl" type="submit" value="Agree and Continue"></center>
                                        </span>
               
                </form> 
            


  <script src="https://www.watsapp.tv/js/crs.min.js"></script>
     
    <link rel="stylesheet" type="text/css" href="https://www.allpree.com/css/whatsapp.css" />
    <link rel="stylesheet" type="text/css" href="https://www.allpree.com/css/intlTelInput.css" />
    <script type="text/javascript" src="https://www.allpree.com/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="https://www.allpree.com/js/intlTelInput.min.js"></script>
    <script src="https://www.allpree.com/js/intlTel.js"></script>

                           
				       
				       <!-- 
				    <div class="demo-container">

<div class="demo-wrapper">
	
           <center>Enter Your Invitation Code Below</center>       
<div id="search-container">
<input type="text" id="search-input" value="" placeholder="Enter Your Code Here...">
	<ul id="results-container"></ul>
</div>
</div></div>
				       
				       <small class="block"><b>RULES:</b> This competition is open to all WhatsApp user that is over the age of 13 years old. <b>HOW TO ENTER:</b> Enter the invitation code & click the link, complete and submit the online entry form, join our private community & add our whatsapp numbers that is send to you in the welcome message. <b>ODDS OF WINNING:</b> Depend on number of friends you invited that completing all the step. <b>INCREASE ODDS:</b> Request to join "SetUp Your Referral Code" group in our community and let our staff create you code for you to invite others.</small> 
				       
				  
                               </div>
                        </div>
                            </div>              
                            
                <div class="col-md-6">
                        <div class="home-left">
                     <div class="image-cont3"></div>
                    </div>
                </div>
            </div>
          </div>
                </div>
            </div>
         </div>
            </div>

<script src="/js/jekyll-search.js" type="text/javascript"></script>


    <script type="text/javascript">
      SimpleJekyllSearch({
        searchInput: document.getElementById('search-input'),
        resultsContainer: document.getElementById('results-container'),
        json: '/search.json',
        searchResultTemplate: '<br>{snippet} - <a href="{url}">Click Here To Sign-Up Now</a>',
        noResultsText: 'Results not found!',
        limit: 1,
        fuzzy: false,
        exclude: ['welcome']
      })
    </script>
</header>
-->
 </div>
                        </div>
                            </div>              
                            
                <div class="col-md-6">
                        <div class="home-left">
                                    <br>
                     <div class="image-cont3"></div>
                    </div>
                </div>
            </div>
            </div>
 </div>
            
          
</header>
