<body class="container">
                <br><br><br><br>
               
                     
    <script type="text/javascript">var submitted=false;</script>
<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {window.location='{{site.baseurl}}/thankyou/';}"></iframe>
               
               <form action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSflz0xAbX-Pup3bplJf9BMfmywbRfuFieU-IhcJQmgtlgZqPQ/formResponse" id="wj-form" method="post" onsubmit="submitted=true" target="hidden_iframe">
                    
                            <div class="col-md-6">
                            <div class="form-group">
                              <label>First Name</label>
                                <input class="form-control" name="entry.870069754"  placeholder="Enter First Name Here" type="text" required>
                                </div>    
                            </div>
                        
                        <div class="col-md-6">
                            <div class="form-group">
                              <label>Last Name</label>
                                <input class="form-control" name="entry.195749800" placeholder="Enter Last Name Here" type="text" required>
                            </div>
                        </div>
                       <div class="col-md-6">
                            <div class="form-group">
                              <label>Email Address</label>
                                <input class="form-control" name="emailAddress" placeholder="Enter Email Address Here" type="text" required >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                              <label for="#phone-input"> WhatsApp Number </label>
                                <input class="form-control" name="entry.2063602309" placeholder="ex. (592)-111-1111" type="text" id="phone-input"  required>
                                </div>
                        </div>
                         <div class="col-md-6">
                            <div class="form-group">
                              <label>Gender</label>
                                <select class="form-control" name="entry.438526798" placeholder="Enter Gender Here" type="text" required >
                                    <option>Choose</option>
                                    <option>M</option>
                                    <option>F</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="form-group">
                              <label>Birthyear</label>
                                <select class="form-control" name="entry.802432554" placeholder="Enter Birth Year Here" type="text" required >
                                    <option>Choose</option>
                                    <option>1971</option>
                                    <option>1972</option>
                                    <option>1973</option>
                                    <option>1974</option>
                                    <option>1975</option>
                                    <option>1976</option>
                                    <option>1977</option>
                                    <option>1978</option>
                                    <option>1979</option>
                                    <option>1980</option>
                                    <option>1981</option>
                                    <option>1982</option>
                                    <option>1983</option>
                                    <option>1984</option>
                                    <option>1985</option>
                                    <option>1986</option>
                                    <option>1987</option>
                                    <option>1988</option>
                                    <option>1989</option>
                                    <option>1990</option>
                                    <option>1991</option>
                                    <option>1992</option>
                                    <option>1993</option>
                                    <option>1994</option>
                                    <option>1995</option>
                                    <option>1996</option>
                                    <option>1997</option>
                                    <option>1998</option>
                                    <option>1999</option>
                                    <option>2000</option>
                                    <option>2001</option>
                                    <option>2002</option>
                                    <option>2003</option>
                                    <option>2004</option>
                                    <option>2005</option>
                                    <option>2006</option>
                                    <option>2007</option>
                                    <option>2008</option>
                                    <option>2009</option>
                                    <option>2010</option>
                                    </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                              <label>Regions</label>
                                <select class="form-control" name="entry.1959113580" placeholder="Enter Country Here" type="text" required >
                                    <option>Choose</option>
                                    <option>🇬🇾Barima-Waini</option>
                                    <option>🇬🇾Pomeroon-Supenaam</option>
                                    <option>🇬🇾Essequibo Islands-West Demerara</option>
                                    <option>🇬🇾Demerara-Mahaica</option>
                                    <option>🇬🇾Mahaica-Berbice</option>
                                    <option>🇬🇾East Berbice-Corentyne</option>
                                    <option>🇬🇾Cuyuni-Mazaruni</option>
                                    <option>🇬🇾Potaro-Siparuni</option>
                                    <option>🇬🇾Upper Takutu-Upper Essequibo</option>
                                    <option>🇬🇾Upper Demerara-Upper Berbice</option>
                                   </select>
                            </div>
                        </div>
                        
                        
                       
                             
 <div>
                                        <span class="input-group-btn">
                                            <input class="btn btn-outline btn-xl" type="submit" value="Submit">
                                        </span>
                 </div>
                </form> 
