<header> 
<!-- 	 -->
<div class="container">
            <div class="row land">
                <div class="home">
                <div class="col-md-6 home-txt">
                   <div class="home-right">
                                
      <!-- -->
                               <div class="home-exp">
                                
			       <p><strong>NEVER PAY FULL PRICE AGAIN</strong></p> 
				       
				      
				       <h3>Discover Daily Deals Right On Your WhatsApp Status Tab That Our Deal-Editors Handpicked From Retailers Oversea That Give The Best Discount And Pay The Highest Commission On Your Purchase</h3>
			      
				       <h4> Get 40% Cash Back + Discount From Your Purchase</h4>
					       
			 <small class="block"><b>HOW IT WORKS:</b> When you see a deal that you like and want to make a purchase, pre-order the product from the close reseller near you. You save with discount + resellers share 40% of commission with you in the form of cashback upon delivery</small>-->  
                                  
				       <!-- <h3><b>HOW:</b> You pre-order products from resellers that our deal-editors handpicked from retailers oversea that give the best discount and pay the highest commission on your purchase. You save with discount + resellers share 40% of commission with you in the form of cashback upon delivery</h3> --> 
                         
				       <br>
                                          
                             <!-- <a href="/" class="page-scroll"><button class="btn btn-outline btn-xl" id="#signup"><i class="fa-solid fa-computer-mouse"></i> Join For Free & Enter Reseller Code</button></a>    -->
                               
                            <br> <br>
				<!--<small class="block"><b>HOW WE MAKE MONEY:</b> Our $2 usd admin fee goes into special forex trading account that generates a returns that enable us to covering our overheads and make a profit</small> --> 
                                  
                                  
                               </div>
                        </div>
                            </div>              
                            
                <div class="col-md-6">
                        <div class="home-left">
                     <div class="image-cont"></div>
                    </div>
                </div>
            </div>
          </div>
                </div>
            </div>
         </div>
            </div>
</header>
