<header> 
<!-- 	 -->
	
<div class="container">
            <div class="row land">
                <div class="home">
                <div class="col-md-6 home-txt">
                   <div class="home-right">
			   
			    
                               <div class="home-exp">
	
				 
		                <h4> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>Step 1:</b> Reach out to our HR department on WhatsApp, and they will request the necessary details to set up your account within our organization manually. </h4>
				<h4> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>Step 2:</b> Buy one master QR-code that is printed on a Physical Reusable Gift Cards that enables you to shop multiple times in-store at over 300+ partner locations islandwide.</h4>
                                <h4> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>Step 3:</b> Purchase as many Shopping eVouchers in advance based on your spending pattern for the month and receive the desired cashback in 121 days of each purchase.</h4>
				<h4> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>Step 4:</b> Visit any supported merchants, shop as usual. At checkout, swipe the merchant's rewards card if you have one. Tell the cashier you want to pay using GiftMe, Let them scan the QR Code on your Gift Card and complete the transaction with your PIN.</h4>	  
				<h4> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>Step 5:</b> Advance in our Rewards Program to unlock benefits like accessing cashback earlier than 121 days and earning a 4% bonus on every shopping voucher purchase made by referrals you invite.</h4>
				 
				      <small class="block"><b></b> </small>

			       </div>
                        </div>
                            </div>              
                            
                <div class="col-md-6">
                        <div class="home-left">
                     <div class="image-cont4"></div>
                    </div>
                </div>
            </div>
          </div>
                </div>
            </div>
         </div>
            </div>
	
</header>
