<style>
 .Vertically {
  height: auto; /* Or any fixed height */
  display: flex;
  align-items: center; /* Vertically centers */
}
  </style>

	<div class="Vertically">
<div class="container">
            <div class="row land">
                <div class="home">
                <div class="col-md-6 home-txt">
                   <div class="home-right">

		  <div class="home-exp">

<h1> <center> <strong>BIG BRANDS BIG DEALS JUST FOR YOU</strong></center> </h1>
			  <h1><strong>HELLO!</strong> Choose Your Country.</h1>




				       
	                  <a href="/jm"><img src="https://hatscripts.github.io/circle-flags/flags/jm.svg" width="150" style="padding-top: 3px;"></a> &nbsp;
                                        <img src="https://hatscripts.github.io/circle-flags/flags/tt.svg" width="150" style="padding-top: 3px;"> &nbsp;
                                        <img src="https://hatscripts.github.io/circle-flags/flags/bb.svg" width="150" style="padding-top: 3px;"> &nbsp; 
				   
			              <img src="https://hatscripts.github.io/circle-flags/flags/gy.svg" width="150" style="padding-top: 3px;"> &nbsp;
				        <img src="https://hatscripts.github.io/circle-flags/flags/kn.svg" width="150" style="padding-top: 3px;"> &nbsp;
				        <img src="https://hatscripts.github.io/circle-flags/flags/ky.svg" width="150" style="padding-top: 3px;"> &nbsp;
				       <br><br>
				       
				   <!--       <img src="https://hatscripts.github.io/circle-flags/flags/ky.svg" width="48"> &nbsp;
				        <img src="https://hatscripts.github.io/circle-flags/flags/tc.svg" width="48"> &nbsp;
				        <img src="https://hatscripts.github.io/circle-flags/flags/vc.svg" width="48"> &nbsp;
				        <img src="https://hatscripts.github.io/circle-flags/flags/gd.svg" width="48"> &nbsp;
				        <img src="https://hatscripts.github.io/circle-flags/flags/ws.svg" width="48"> &nbsp;
				       
				        <br><br>
				       
				        <img src="https://hatscripts.github.io/circle-flags/flags/sr.svg" width="48"> &nbsp;
				        <img src="https://hatscripts.github.io/circle-flags/flags/ag.svg" width="48"> &nbsp;
				        <img src="https://hatscripts.github.io/circle-flags/flags/to.svg" width="48"> &nbsp;
				        <img src="https://hatscripts.github.io/circle-flags/flags/vu.svg" width="48"> &nbsp;
                                        <img src="https://hatscripts.github.io/circle-flags/flags/lc.svg" width="48"> &nbsp;
				        
				       <br><br> -->

			    <small class="block"><b>NOTE:</b> If Your Country Is Not Click-A-Ble Just Bookmark This Site More Will Be Addind Soon </small> <br><br>
				        
    </div>
                        </div>
                            </div>              
                            
                <div class="col-md-6">
                        <div class="home-left">
			<br>	
                     <div class="image-cont9"></div>
                    </div>
                </div>
            </div>
          </div>
                </div>
            </div>
         </div>
            </div>
	 </div>
