<header> 
<!-- 	 -->
<div class="container">
            <div class="row land">
                <div class="home">
                <div class="col-md-6 home-txt">
                   <div class="home-right">
                                
 
                               <div class="home-exp">
				       <p style=""><strong>Join Our Free Membership</strong></p>
                                
			        
				      <h3>Watch Our <i class="fa-brands fa-whatsapp "></i> Status Daily To Discover Deals That Are Handpicked By Our Deal-Editors That Offer The Best Discount In Various Categories,
					
				       When You Pre-Order From Us We'll Make A Final Sale Offer For You To Get A Great Deal</h3>     
		       <br>
                             <h4>Have Referral Code <a href="/" class="page-scroll"><button class="btn btn-outline btn-xl" id="#signup"><i class="fa-solid fa-computer-mouse"></i> Click Here </button></a> </h4>
                               
				       <br>
				      <small class="block"><b>Note:</b> If You Purchase A Yearly Membership You'll Enjoy Members Only Prices Plus Unlimited FREE Fast Delivery To You On All Purchases Within That Year For You To Get Members Exclusive Deal</small> 
				       
				       
				            
                               </div>
                        </div>
                            </div>              
                            
                <div class="col-md-6">
                        <div class="home-left">
                     <div class="image-cont"></div>
                    </div>
                </div>
            </div>
          </div>
                </div>
            </div>
         </div>
            </div>
</header>
