<header> 
<!-- 	 -->
	
<div class="container">
            <div class="row land">
                <div class="home">
                <div class="col-md-6 home-txt">
                   <div class="home-right">
			   
			    
                               <div class="home-exp">
			
				  <h3>HOW IT WORKS</h3>
		                <h4> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>Step 1:</b> Reach out to our HR department on WhatsApp, and they will request the necessary details to set up your account within our organization manually. </h4>
				<h4> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>Step 2:</b> Buy one of our Physical Reusable QR-Scan Gift Cards that enable you to shop in-store at over 300+ partner locations islandwide.</h4>
                                <h4> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>Step 3:</b> Purchase as many Shopping eVouchers in advance based on your spending pattern for the month and receive the desired cashback in a 121 day of each purchase.</h4>
				<h4> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>Step 4:</b> Visit any supported merchants, shop as usual. At checkout, swipe the merchant's rewards card if you have one. Tell the cashier you want to pay using GiftMe, Let them scan the QR Code on your Gift Card and complete the transaction with your PIN.</h4>	  
				
				 <br><br> 
				      <small class="block"><b>NOTE:</b> In addition to our CashBack we  rewards </small>

			       </div>
                        </div>
                            </div>              
                            
                <div class="col-md-6">
                        <div class="home-left">
                     <div class="image-cont4"></div>
                    </div>
                </div>
            </div>
          </div>
                </div>
            </div>
         </div>
            </div>
	
</header>
