<header> 
<!-- 	 -->
<div class="container">
            <div class="row land">
                <div class="home">
                <div class="col-md-6 home-txt">
                   <div class="home-right">
			   
                               <div class="home-exp">
				<!--    <h3><strong>We Can Show You How To Earn Shopping Credit That Enable You To Get Any Product For FREE</strong></h3> -->
                             
                      <p style=""><strong>You already doing it for free why not get paid to do it</strong></p> 
                                
				       <h2><strong>Yes! You Can Get Paid To View Our WhatsApp Status</strong></h2>
				       
				      <h4>Companies Or Individuals Pay Us To Promote Their Products Or Services And We Pay You 60% Of Our Ad Revenue To View Their Promotion. Plus You Can Earn Additional Income If You Invite Others & Build Your Referral Database Where You Receive 16% Commission Based On The Per-View Earnings Of Those You Have Referred </h4>
					
				    <br>
				       <a href="/" class="page-scroll"><button class="btn btn-outline btn-xl" id="#signup"><i class="fa-solid fa-computer-mouse"></i> Choose Your Country </button></a>
				       <br><br>
				       
				       <small class="block"><b>NOTE:</b> This project is not endorsed by, affiliated to, or sponsored by WhatsApp Inc or Meta Platforms, Inc. and their products in any way. We use the WhatsApp platform to share good content. </small> 
				       
				  
                               </div>
                        </div>
                            </div>              
                            
                <div class="col-md-6">
                        <div class="home-left">
                     <div class="image-cont"></div>
                    </div>
                </div>
            </div>
          </div>
                </div>
            </div>
         </div>
            </div>
</header>
