<header> 
<!-- 	 -->
<div class="container">
            <div class="row land">
                <div class="home">
                <div class="col-md-6 home-txt">
                   <div class="home-right">
                                
     
                               <div class="home-exp">
                                 <p style=""><strong> <i class="fa-brands fa-whatsapp fa-5x"></i> TV<br>Share LOL-Worthy Moments Via Status</strong></p>
                             <h2>2,000+ Already Join</h2>
				       <h3>Join The Biggest <i class="fa-brands fa-whatsapp"></i> Channel</h3>
                                <h4>Enjoy The Best Contents Whether You At Work, Home or School, The Funniest Things That Capture People And Animals Are At Their Spontaneous Best. </h4>
                            <br>
                                           <H4>Have A Referral Code? </4>
                              <a href="/join" class="page-scroll"><button class="btn btn-outline btn-xl" id="#signup">No</button></a>    <a href="/code" class="page-scroll"><button class="btn btn-outline btn-xl" id="#signup">Yes</button></a>
                               
                            <br> <br>
				    
                                  
                                  
                               </div>
                        </div>
                            </div>              
                            
                <div class="col-md-6">
                        <div class="home-left">
                     <div class="image-cont"></div>
                    </div>
                </div>
            </div>
          </div>
                </div>
            </div>
         </div>
            </div>
</header>
