<header> 
<!-- 	 -->
	
<div class="container">
            <div class="row land">
                <div class="home">
                <div class="col-md-6 home-txt">
                   <div class="home-right">
			   
			      <p>First 100 Member's Get Up To 60% Cash Back</p> 
                               <div class="home-exp">
				
			  
				   <h1><strong> ONE CARD - 300+ STORES. </strong></h1> 
				   
			     <h3>Did you know that <strong>Gift Card</strong> is the new trend for in-store shopping and 
				<strong>CashBack</strong> is a new promotional tool for stores to offer a tiny 1% to 3% back. Let us work to achieve you more</h3>
				     
				  <h3>HOW: WITH 2 OPTION<br><br>
		                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>1:</b> 
				<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>2:</b> 

					  
				        
				
			
	<br><br>				          
  <center><a href="https://www.allpree.com/info/" class="page-scroll"><button class="btn btn-outline btn-xla" id="mc-embedded-subscribe"><i class="fa-solid fa-computer-mouse"></i> view all merchants</button></a> </center>
   				
                          <br><br> 
			       </div>
                        </div>
                            </div>              
                            
                <div class="col-md-6">
                        <div class="home-left">
                     <div class="image-cont4"></div>
                    </div>
                </div>
            </div>
          </div>
                </div>
            </div>
         </div>
            </div>
	
</header>
