<!-- 	 -->
<section id="benefits" class="benefits bg-primary text-center">
        <div class="container">
            <div class="row">
               <h2>BE SMART <br> Shop Clever. Get Paid</h2>
                 <h3>IT'S TIME TO MAKE MONEY WHILE SHOPPING IN JAMAICA!<br>Use Our Physical QR-Scan Gift Card To Shop @ 300+ Stores Across Jamaica
 </h3>
           <!--     <div class="col-md-8 col-md-offset-2">
               <p></p>
               </div>
                 <div class="row"></div>
               <div class="col-md-4">
                   <div class="brdr">
                  <img width="50" src="{{site.baseurl}}/img/" alt="Funny Memes"> 
                    <h3> Spend In-Store<br> $172,566.66 JMD </h4h3> 
                   </div>,

               </div>


               <div class="col-md-4">
                  <div class="brdr">
             <img width="70" src="{{site.baseurl}}/img/" alt="Viral Clips">
                <h3> CashBack Confirm <br>$62,200.00 JMD </h3>  
                </div>
               </div> 


               <div class="col-md-4">
                 <div class="brdr">
                    <img width="50" src="{{site.baseurl}}/img/" alt="Motivation Quotes">
                   
                         <h3>Gift Card Purchase <br> $180,000.00 JMD </h3>
                   </div>
               </div> -->



        <!--   <div class="row mt50">

               <div class="col-md-6">
                  <div class="brdr">
                  <img width="50" src="{{site.baseurl}}/img/" alt="Relationship Advice"> 
                   <h3>Special <br> in-Store Shopping </h3>
                   </div>
               </div>
                    
                    
                     
               <div class="col-md-6">
                 <div class="brdr">
                  <img width="50" src="{{site.baseurl}}/img/" alt="Breaking News">
                   <h3>Deals <br> in-Store Shopping</h3>
                   </div>
               </div> -->

            </div>


        </div>
       
    </section>

