
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
 <style>

#search-container {
    max-width: 100%;
        

}

input[type=text] {

    outline: none;
    padding: 15px 25px;
    margin: 5px 1px 3px 0px;
    border: none;
    width: 100%;
    border-radius: 1px;
    box-shadow: 0 1px 0px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);

}

input[type=text]:hover {
    outline: none;
    border: none;
    margin: 5px 1px 3px 0px;
    padding: 15px 25px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
     box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

input[type=text]:focus {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    margin: 5px 1px 3px 0px;
    padding: 15px 25px;
    border: none;
    outline: none;
        -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

@media screen and (max-width: 600px) {
    input[type=text]{
            width: 100%;
            box-sizing: border-box;
    }
    }
</style>
<style>
	  .demo-wrapper {
		  max-width: 80%;
		  margin: 5% auto;
	  }
  </style>
<div class="container">
            <div class="row land">
                <div class="home">
                <div class="col-md-6 home-txt">
                   <div class="home-right">
                     
                       <div class="home-exp">
			       <p><strong>STORE PAY US. WE PAY YOU</strong></p> 
			       <h1><strong>Upto 40% Cash Back</strong></h1>
			        
			 <h2>Stores pay Allpree.com a commission for sending you their way and Allpree.com shares the commission with you as Cash Back through Lynk App.</h2> 
                         
			<p><strong>This Will Grow Your WhatsApp Status That You Can Use To Advertise Your Product or Service For Free.</strong>
			       Get A branded URL to host your optin page by Starting your search with @ sign and end with / sign with no space Eg: @brandname/</p>
			    
                          <div class="demo-container">

<div class="demo-wrapper">
	
                 
<div id="search-container">
<input type="text" id="search-input" value="" placeholder="Type your @brandname/ here....">
	<ul id="results-container"></ul>
</div>
</div></div>
                          
                          
                            </div>
                        </div>
                            </div>              
                            
                <div class="col-md-6">
                        <div class="home-left">
                     <div class="image-cont2"></div>
                    </div>
                </div>
            </div>
          </div>
        </div>
<script src="/js/jekyll-search.js" type="text/javascript"></script>


    <script type="text/javascript">
      SimpleJekyllSearch({
        searchInput: document.getElementById('search-input'),
        resultsContainer: document.getElementById('results-container'),
        json: '/search.json',
        searchResultTemplate: '<h4>Not available</h4>',
        noResultsText: '<b>Your @brandname is available</b>. Get it now for one time setup fee of $100USD before someone else does <a href="/">Click Here</a>',
        limit: 1,
        fuzzy: false,
        exclude: ['welcome']
      })
    </script>
