<br><br>
<style>
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
</style>	
<div class="container">
            <div class="row land">
                <div class="home">     
			<div class="center">
                <div class="col-md-6 home-txt1">     
			 <hr/>
    <center> <h3><B>HERE'S HOW IT WORKS </B></h3> </center>

	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>Step 1:</b> Start with our <strong>Free Basic Membership</strong> to get a taste of the benefits, and then easily upgrade to our <strong>Premium</strong> CashBack level for even greater rewards!.	
			
		<center>  <img src="{{site.baseurl}}/img/cashbackmembership.png" width="" height="" alt=""></center>		
			
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>Step 2:</b> After enrollment, our team will swiftly 
	
	create your digital reusable eGift Card featuring a master QR-code, granting you access to over 300+ partner locations islandwide. 
		
	<br><br>
	<center>  <img src="{{site.baseurl}}/img/Card Scan 2 M.png" width="208" height="398" alt=""></center>
	<br>
	<br>			
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>Step 3:</b> Purchase vouchers in advance based on your spending pattern. It takes 1 to 12 hours for the voucher to be loaded onto your eGift Card. see the image below to see what amount you will get back based on your membership level
	
	
	
	<center>  <img src="{{site.baseurl}}/img/cashbackamount.png" width="" height="" alt=""></center>
				
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>Step 4:</b> Visit any supported merchants, shop as usual. At checkout, swipe the merchant rewards card if you have one then tell the cashier you want to pay using GiftMe. 
	<br><br>			
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Let them scan the Master QR Code on your digital eGift Card and complete the transaction with your PIN. 
	<br><br>			
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Your first transaction after each Voucher purchase activates your CashBack, which you will receive after 121 days.
			
	<br><br>

	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>Step 5:</b> Is where the magic happens 
	

	 <center> <h3><B>PARTNERSHIP </B></h3> Your Network = Your Income For Life</center> <br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Once you start using and loving our Cashback Program, send us a review!, We’ll then invite you to join our partnership program, where you can earn <b> recurring commissions for life</b> by sharing something you already believe in.
<br>
<center> <b>How It Works</b> </center>

	<br>
	 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b> 1.</b> To maintain a high-quality network of serious referrers, a one-time setup fee of $1,000 JMD is required if you're interested in joining.

	<br><br>
	 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b> 2.</b> Our IT team will create a custom referral lead page, personalized just for you that permanently links to your account for lifetime tracking.
	
	<br><br>
	 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b> 3.</b> Every time someone signs up through your referral page, you get the credit and with lifetime tracking, you’ll earn a commission every time they spend, for as long as they use the system.
	<br>
	
