
<body class="container">
                <br><br>
  <center><a class="back-to-home" href="/"><img src="{{ site.url }}/img/Allpreelogo.png" alt="{{ page.image }}" width="92" height="81"></a></center>
  <center><h3>My Address Book</h3></center>
  <center><p>Hey, it's Allpree. Please add yourself to my phonebook so that you can see my status.</p></center>
                     
    <script type="text/javascript">var submitted=false;</script>
<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {window.location='{{site.baseurl}}/thankyou/';}"></iframe>
               
               <form action="https://docs.google.com/forms/u/0/d/e/1FAIpQLScdGFiZGrlD2-m4x69SXzMWnhQTY4NdlDsCdWunKVRZmm99tg/formResponse" id="wj-form" method="post" onsubmit="submitted=true" target="hidden_iframe">
                      <input class="form-control" name="entry.828595295" type="hidden" value="ID 00000">
                      <input class="form-control" name="entry.701237804" type="hidden" value="00000" >
                            <div class="col-md-6">
                            <div class="form-group">
                              <label>First Name</label>
                                <input class="form-control" name="entry.112712811"  placeholder="Enter First Name Here" type="text" required>
                                </div>    
                            </div>
                        
                        <div class="col-md-6">
                            <div class="form-group">
                              <label>Last Name</label>
                                <input class="form-control" name="entry.1664981470" placeholder="Enter Last Name Here" type="text" required>
                            </div>
                        </div>
                       <div class="col-md-6">
                            <div class="form-group">
                              <label>Email Address</label>
                                <input class="form-control" name="emailAddress" placeholder="Enter Email Address Here" type="text" required >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                              <label for="#phone-input"> WhatsApp Number </label>
                                <input class="form-control" name="entry.538648952" placeholder="ex. 1(876)-111-1111" type="text" id="phone-input"  required>
                                </div>
                        </div>
                         <div class="col-md-6">
                            <div class="form-group">
                              <label>Gender</label>
                                <select class="form-control" name="entry.348946234" placeholder="Enter Gender Here" type="text" required >
                                    <option>Choose</option>
                                    <option>Male</option>
                                    <option>Female</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="form-group">
                              <label>Birthyear</label>
                                <select class="form-control" name="entry.1525446704" placeholder="Enter Birth Year Here" type="text" required >
                                    <option>Choose</option>
                                    <option>1971</option>
                                    <option>1972</option>
                                    <option>1973</option>
                                    <option>1974</option>
                                    <option>1975</option>
                                    <option>1976</option>
                                    <option>1977</option>
                                    <option>1978</option>
                                    <option>1979</option>
                                    <option>1980</option>
                                    <option>1981</option>
                                    <option>1982</option>
                                    <option>1983</option>
                                    <option>1984</option>
                                    <option>1985</option>
                                    <option>1986</option>
                                    <option>1987</option>
                                    <option>1988</option>
                                    <option>1989</option>
                                    <option>1990</option>
                                    <option>1991</option>
                                    <option>1992</option>
                                    <option>1993</option>
                                    <option>1994</option>
                                    <option>1995</option>
                                    <option>1996</option>
                                    <option>1997</option>
                                    <option>1998</option>
                                    <option>1999</option>
                                    <option>2000</option>
                                    <option>2001</option>
                                    <option>2002</option>
                                    <option>2003</option>
                                    <option>2004</option>
                                    <option>2005</option>
                                    <option>2006</option>
                                    <option>2007</option>
                                    <option>2008</option>
                                    <option>2009</option>
                                    <option>2010</option>
                                    </select>
                            </div>
                        </div>
                        
                 <div class="col-md-6">
                            <div class="form-group">
                               <label>Country</label>
                              <div class="form-control">
                        <select class="crs-country" name="entry.573106087" data-default-value="Jamaica"  data-blacklist="CD,CG,SH,GS" data-region-id="six"></select>
                        
                        </div></div></div>
                         
                               <div class="col-md-6">
                            <div class="form-group">
                            <label>Region</label>
                             <select class="form-control" name="entry.1077353202" id="six"></select>
                             
 </div></div>  <center><h6>By Tap "Agree and Continue", you agree to our Terms and Policy. You may receive WhatsApp, SMS Notifications from us and can opt out any time..</h6></center>

                                        <span class="input-group-btn">
                                          <center>  <input class="btn btn-outline btn-xl" type="submit" value="Agree and Continue"></center>
                                        </span>
               
                </form> 
            
<script src="/js/crs.min.js"></script>
