<header> 
<!-- 	 -->
	

<div class="container">
            <div class="row land">
                <div class="home">
                <div class="col-md-6 home-txt">
                   <div class="home-right">
			  <p> </p> 
                               <div class="home-exp">


				     <h2>  Get back to the member who recommended you here, They will provide you with the company's private WhatsApp number to express your interest in joining the company </h2> 

				       
                      <h2>Our HR department will get back to you as soon as possible to request details to manually set up your account within our organization.</h2> 
				      



 <h3> Once your account is approved. We will send you your member ID code via WhatsApp and move on to the next step for you to receive your expense egift card</h3> 
                       
				       
				
				     
		
                               </div>
                        </div>
                            </div>              
                            
                <div class="col-md-6">
                        <div class="home-left">
                     <div class="image-cont2"></div>
                    </div>
                </div>
            </div>
          </div>
                </div>
            </div>
         </div>
            </div>


</header>
