<header> 
<!-- 	 -->
	

<div class="container">
            <div class="row land">
                <div class="home">
                <div class="col-md-6 home-txt">
                   <div class="home-right">
			   
                               <div class="home-exp">
				<!--    <h3><strong>We Can Show You How To Earn Shopping Credit That Enable You To Get Any Product For FREE</strong></h3> -->
                             
                      <p style=""><strong>Reach out to us on WhatsApp to express your interest in joining the company. Our HR department will get back to you as soon as possible to request details to manually set up your account within our organization, and send you your member ID code via WhatsApp.</strong></p> 
				       <h2><strong>Go On WhatsApp</strong></h2>



 <p style=""> Tap on the Android <img src="https://static.xx.fbcdn.net/assets/?revision=947305627097899&name=android-new-chat&density=1" width="44" height="44" alt="">icon or IOS <img src="https://static.xx.fbcdn.net/assets/?revision=947305627097899&name=iphone-new-chat&density=1" width="44" height="44" alt="">icon 
				       
				       select your name or number, type  wa.me/{{site.tell}} in the message, and send it to yourself, it will turn into a clickable link, click it and message us.
                       
				       
				  <!--     <h3><strong>Get Paid To View Our <i class="fa-brands fa-whatsapp"></i> Status</strong></h3> -->
				       
				 <!--     <h4>Companies Or Individuals Pay Us To Promote Their Products Or Services And We Pay You 50% Of Our Ad Revenue To View Their Promotion. Plus You Can Earn Additional Income If You Partner with Us & Build Your Referral Database Where You Receive 20% Commission, Based On The Per-View Earnings Of Those You Have Referred </h4> -->
					
					
				     
		
				       
				       <small class="block"><b>NOTE:</b> Companies Pay Us Per-Interaction To Promote Their Products Or Services And We Pay You 50% To Interact With Their Promotion. Plus You Can Earn Additional Income If You Partner With Us & Build Your Referral Database Where You Receive 40% Commission On The Per-Interaction Earnings Of Those You Have Referred. </small> 
				       
				  
                               </div>
                        </div>
                            </div>              
                            
                <div class="col-md-6">
                        <div class="home-left">
                     <div class="image-cont"></div>
                    </div>
                </div>
            </div>
          </div>
                </div>
            </div>
         </div>
            </div>


</header>
