<header> 
<!-- 	 -->
	

<div class="container">
            <div class="row land">
                <div class="home">
                <div class="col-md-6 home-txt">
                   <div class="home-right">
			  <p> </p> 
                               <div class="home-exp">

 
				       <h3>  Subscribe to our WhatsApp channel and enable notifications to receive essential updates from HR. Please don't worry, your phone number, profile picture, and name are kept private, and other followers cannot interact with you.  </h3>
				    
				       <h3>  Get back to the member who recommended you here, They will provide you with the company's private WhatsApp number to express your interest in joining the company </h3> 

				       
                      <h3>Our HR department will get back to you as soon as possible to request details to set up your account within our organization manually.</h3> 
				      



 <h3> Once your account is approved. We will send you your member ID code via WhatsApp and move on to the next step for you to receive your physical reusable gift card</h3> 
                       
				       
		<br> <center><a href="https://www.allpree.com/channel/" class="page-scroll"><button class="btn btn-outline btn-xla" id="mc-embedded-subscribe"><i class="fa-solid fa-computer-mouse"></i> To Follow our WhatsApp channel </button></a> </center>
   		
				     
		
                               </div>
                        </div>
                            </div>              
                            
                <div class="col-md-6">
                        <div class="home-left">
                     <div class="image-cont2"></div>
                    </div>
                </div>
            </div>
          </div>
                </div>
            </div>
         </div>
            </div>


</header>
