<style>
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
</style>	
	
<div class="container">
            <div class="row land">
                <div class="home">     
			<div class="center">
                <div class="col-md-6 home-txt1">


<div id="player"></div>

<script>
    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    var player;
    function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
            videoId: 'AO6P7CWkE_g',
            playerVars: {
                autoplay: 1,
                controls: 0,
                modestbranding: 0,
                rel: 0,
                showinfo: 0,
                fs: 0
            },
            events: {
                'onReady': function(event) {
                    event.target.playVideo();
                }
            }
        });
    }
</script>

			
</div>
				</div>
            </div>
          </div>
                </div>
