<style>
  

#player {
    width: 80vw; /* Default for desktop */
    height: 45vw; /* Maintain 16:9 aspect ratio */
    max-width: 1000px; /* Prevents the video from becoming too large */
    max-height: 562px;
}

/* Mobile adjustments */
@media (max-width: 768px) {
    #player {
        width: 90vw; /* Full width on mobile */
        height: 56vw; /* Maintain 16:9 aspect ratio */
    }

	
</style>		
<div class="container">	

<br><br>

<div id="player"></div>
<br><br>
<script>
    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    var player;
    function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
            videoId: 'AO6P7CWkE_g',
            playerVars: {
                autoplay: 1,
                controls: 0,
                modestbranding: 0,
                rel: 0,
                showinfo: 0,
                fs: 0
            },
            events: {
                'onReady': function(event) {
                    event.target.playVideo();
                }
            }
        });
    }
</script>
</div>
