 <style>
    body {
      font-family: Arial, sans-serif;
      text-align: left;
      font-size: 18px;
      padding: 20px;
    }
    .instructions {
      background-color: #163A5C;
      color: white;
      text-align: left;
      font-size: 18px;
      padding: 20px;
      margin: 10px 0;
      margin: auto;
      max-width: 480px; /* Set max-width for desktop screens */
      width: 85%; /* Allow it to take full width up to max-width */
      border-radius: 15px; /* Add this line to round the edges */
    }
    .instructions h2 {
      margin-top: 0;
      align: center;
    }
    .instructions button {
      background-color: #45a049;
      color: white;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      margin: auto;
      margin-top: 20px;
      font-size: 16px;
    }
    .instructions button:hover {
      background-color: #ffc73d;
    }
    
  </style>

<div class="instructions" >
  <center><h2>STEP TWO<br>Move Web App To Front Screen</h2></center>
  <ol style="text-align: left;">
    <li>📱 Go to your App section to see all app</li><br>
    <li>🔍 Find <strong>Allpree.com</strong> App icon</li><br>
    <li>📌 Tap & hold it, then move it to your front screen</li>
  </ol>
  <center>
  
  </center>
</div>
  
