 <style>
    body {
      font-family: Arial, sans-serif;
      text-align: left;
      font-size: 18px;
     padding: 20px;
    }
    .instructions {
      background-color: #163A5C;
      color: white;
      text-align: left;
      font-size: 18px;
      padding: 10px 10px 10px 10px;
     
     
      margin: auto;
      max-width: 768px; /* Set max-width for desktop screens */
      width: 100%; /* Allow it to take full width up to max-width */
      border-radius: 35px; /* Add this line to round the edges */
    }
    .instructions h2 {
      margin-top: 0px;
      margin-bottom: 0px;
      font-size: 16px;
      align: center;
    }
    .instructions button {
      background-color: #45a049;
      color: white;
      
      border: none;
      cursor: pointer;
      margin: auto;
     
      font-size: 16px;
    }
    .instructions button:hover {
      background-color: #ffc73d;
    }
    
  </style>
<br><br><br>
<a href="https://www.allpree.com/contacts" >
<div class="instructions" >
  <h2> <i class="fa-solid fa-credit-card" style="float: left; margin-right: 8px;"></i> Get Your Reusable Digital Gift Card<i class="fa-solid fa-angle-right" style="float: right; margin-right: 8px;"></i> </h2>

</div></a>

<hr>
<a href="https://www.allpree.com/balance" >
<div class="instructions" >
  <h2> <i class="fa-solid fa-wallet" style="float: left; margin-right: 8px;"></i> Check Your Gift Card Balance<i class="fa-solid fa-angle-right" style="float: right; margin-right: 8px;"></i> </h2>

</div> </a>
<hr>
<a href="https://www.allpree.com/vouchers" >
<div class="instructions" >
  <h2> <i class="fa-solid fa-ticket" style="float: left; margin-right: 8px;"></i> Buy eVoucher For Your Gift Card <i class="fa-solid fa-angle-right" style="float: right; margin-right: 8px;"></i> </h2>

</div> </a>
  <hr>
<a href="https://www.allpree.com/partner" >
<div class="instructions" >
  <h2> <i class="fa-solid fa-money-bill-trend-up" style="float: left; margin-right: 8px;"></i> Partner & Earn Recurring Income <i class="fa-solid fa-angle-right" style="float: right; margin-right: 8px;"></i> </h2>

</div> </a>
<hr>
<a href="https://www.allpree.com/invite" >
<div class="instructions" >
  <h2> <i class="fa-solid fa-people-roof" style="float: left; margin-right: 8px;"></i> Recommend Quality Customer To Earn <i class="fa-solid fa-angle-right" style="float: right; margin-right: 8px;"></i> </h2>

</div> </a>
<hr>
<a href="https://www.allpree.com/howitwork" >
<div class="instructions" >
  <h2> <i class="fa-solid fa-list-check" style="float: left; margin-right: 8px;"></i> How It Works And Come Together <i class="fa-solid fa-angle-right" style="float: right; margin-right: 8px;"></i> </h2>

</div> </a>
