
<!-- start webpushr tracking code --> 
<script>(function(w,d, s, id) {if(typeof(w.webpushr)!=='undefined') return;w.webpushr=w.webpushr||function(){(w.webpushr.q=w.webpushr.q||[]).push(arguments)};var js, fjs = d.getElementsByTagName(s)[0];js = d.createElement(s); js.id = id;js.async=1;js.src = "https://cdn.webpushr.com/app.min.js";
fjs.parentNode.appendChild(js);}(window,document, 'script', 'webpushr-jssdk'));
webpushr('setup',{'key':'BE2GVRF5mLk7Fp1kzgXE_A5QDGK54HwqN1wEgxczP_fzfugkPREKHebr_Bfzd13eEyrn2rpv_IxZ-H9A4rygXPA' });</script>
<!-- end webpushr tracking code -->

<!-- <script src="https://cdn.onesignal.com/sdks/web/v16/OneSignalSDK.page.js" defer></script>
<script>
  window.OneSignalDeferred = window.OneSignalDeferred || [];
  OneSignalDeferred.push(async function(OneSignal) {
    await OneSignal.init({
      appId: "d4d4a08e-e7f1-49b4-9d7b-0c4c57222df1",
      safari_web_id: "web.onesignal.auto.2d1085e1-a560-4918-b950-42f254dd8495",
      notifyButton: {
        enable: true,
      },
    });
  });
</script> -->

<!-- Fullscreen Overlay -->
 <div id="fullscreenOverlay" style="display:none; position:fixed; top:0; left:0; width:100vw; height:100vh; background:#fff; z-index:9999; overflow:auto;">
   <button onclick="smartBack()" style="
     position:absolute;
     top:15px;
     right:15px;
     z-index:10000;
     background:#000;
     color:#fff;
     border:none;
     padding:10px 15px;
     font-size:16px;
     border-radius:8px;
   ">✕ Close</button>
 
   <div id="menuContent" style="padding:20px;"></div>
 </div>
 
 <script>
 function loadMenu() {
   fetch('https://www.allpree.com/menu/')
     .then(response => response.text())
     .then(html => {
       document.getElementById('menuContent').innerHTML = html;
       document.getElementById('fullscreenOverlay').style.display = 'block';
     })
     .catch(err => {
       alert("Failed to load menu.");
       console.error(err);
     });
 }
 
 function smartBack(fallbackUrl = '/balance') {
   const previous = document.referrer;
 
   if (previous && previous !== window.location.href) {
     window.location.href = previous;
   } else {
     window.location.href = fallbackUrl;
   }
 }
 
 </script>


<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <a href="#" onclick="loadMenu(); return false;">   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span> Menu <i class="fa-solid fa-bars"></i>
                </button> 

             </a>
               

           <!--  <a class="navbar-brand page-scroll" href="https://twitter.com/allpreedotcom"><i class="fa-brands fa-twitter"></i></a>
             <a class="navbar-brand page-scroll" href="https://instagram.com/allpreedotcom"><i class="fa-brands fa-instagram"></i></a>
             <a class="navbar-brand page-scroll" href="https://facebook.com/allpreedotcom"><i class="fa-brands fa-facebook"></i></a> -->
             
             <!--    <a class="navbar-brand page-scroll" onclick="history.back()"><i class="fa-solid fa-backward"></i></a>  
             <a class="navbar-brand page-scroll" href="https://www.allpree.com/" >CashBack</a> -->

             
             <a class="navbar-brand page-scroll" href="https://www.allpree.com/storeapp" ><strong><i class="fa-solid fa-shop"></i></strong> Stores Location</a>
              
             <!--      <a class="navbar-brand page-scroll" href="https://www.allpree.com/balance" >Balance</a>
             <a class="navbar-brand page-scroll" href="https://www.allpree.com/vouchers"><strong>Bufa-solid fa-housey eVoucher</strong></a>
              <a class="navbar-brand page-scroll" href="https://www.allpree.com/invite" >Earn</a>
              <a class="navbar-brand page-scroll" href="https://www.allpree.com/balance"><strong><i class="fa-solid fa-house"></i> HOME</strong></a>
               
            <!--   <a class="navbar-brand page-scroll" href="https://www.allpree.com/join" >Msg HR</a> -->

              
             
            <!--   <a class="navbar-brand page-scroll" href="https://www.snapchat.com/add/allpreedotcom"><i class="fa-brands fa-snapchat"></i>&nbsp;</a>
             
              <a class="navbar-brand page-scroll" href="https://tiktok.com/@joinwatsapp"><i class="fa-brands fa-tiktok"></i>&nbsp;</a>
             
              <a class="navbar-brand page-scroll">&nbsp;<strong>EVERY Day Is Black Friday!</strong></a>  
      <a class="navbar-brand page-scroll">&nbsp;<strong>Allpree Plus <i class="fa-solid fa-location-plus"></i></strong></a>
             <a class="navbar-brand page-scroll" href=""><strong><i class="fa-brands fa-whatsapp"></i> eCom <i class="fa-brands fa-btc"></i></strong> - Semi Done For You </a> 
             	  <a class="navbar-brand page-scroll" href=""><i class="fa-solid fa-sack-dollar"></i>&nbsp;Investors</a>
              <a class="navbar-brand page-scroll" href=""><i class="fa-solid fa-sack-dollar"></i>&nbsp;Resellers</a>
             <a class="navbar-brand page-scroll" href=""><i class="fa-solid fa-sack-dollar"></i>&nbsp;Referrals</a> 
               -->
              
             
             
            </div>

            <!-- Collect the nav links, forms, and other content for toggling &nbsp; -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <!--  <ul class="nav navbar-nav navbar-right">
                <li>
                   <a class="page-scroll" href="https://www.allpree.com/referral-program" >Refer & Earn</a>
                    </li>
                    <li>
                   <a class="page-scroll" href="https://www.allpree.com/list/">All Stores</a>
                    </li>
                    <li>
                  <a class="page-scroll" href="https://www.allpree.com/balance/"><strong>Check Balance</strong></a> 
                    </li> 
                </ul> -->
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
