 <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
             <!--  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span> Menu <i class="fa-solid fa-bars"></i>
                </button> -->
            
               <a class="navbar-brand page-scroll" onclick="history.back()"><i class="fa-solid fa-backward"></i></a>  
            
             <a class="navbar-brand page-scroll" href="https://www.allpree.com"><strong>Home</strong></a>
             
              <a class="navbar-brand page-scroll" href="https://www.allpree.com/recruit-and-earn" ><strong>Recruit and Earn</strong></a> 
            <!--   <a class="navbar-brand page-scroll" href="https://www.allpree.com/reviews" >Reviews</a> 
              <a class="navbar-brand page-scroll" href="https://www.allpree.com/join" >Msg HR</a> -->

             <!-- <a class="navbar-brand page-scroll" href="https://twitter.com/allpreedotcom"><i class="fa-brands fa-twitter"></i></a>
             <a class="navbar-brand page-scroll" href="https://instagram.com/allpreedotcom"><i class="fa-brands fa-instagram"></i></a>
             <a class="navbar-brand page-scroll" href="https://facebook.com/allpreedotcom"><i class="fa-brands fa-facebook"></i></a>
             
               <a class="navbar-brand page-scroll" href="https://www.snapchat.com/add/allpreedotcom"><i class="fa-brands fa-snapchat"></i>&nbsp;</a>
             
              <a class="navbar-brand page-scroll" href="https://tiktok.com/@joinwatsapp"><i class="fa-brands fa-tiktok"></i>&nbsp;</a>
             
              <a class="navbar-brand page-scroll">&nbsp;<strong>EVERY Day Is Black Friday!</strong></a>  
      <a class="navbar-brand page-scroll">&nbsp;<strong>Allpree Plus <i class="fa-solid fa-location-plus"></i></strong></a>
             <a class="navbar-brand page-scroll" href=""><strong><i class="fa-brands fa-whatsapp"></i> eCom <i class="fa-brands fa-btc"></i></strong> - Semi Done For You </a> 
             	  <a class="navbar-brand page-scroll" href=""><i class="fa-solid fa-sack-dollar"></i>&nbsp;Investors</a>
              <a class="navbar-brand page-scroll" href=""><i class="fa-solid fa-sack-dollar"></i>&nbsp;Resellers</a>
             <a class="navbar-brand page-scroll" href=""><i class="fa-solid fa-sack-dollar"></i>&nbsp;Referrals</a> 
               -->
              
             
             
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
           <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                 <li>
                        <a class="page-scroll" href="#benefits">Benefits</a>
                    </li> 
                    <li>
                        <a class="page-scroll" href="https://www.allpree.com/how/">How It Works</a>
                    </li> 
                    <li>
                        <a class="page-scroll" href="https://www.allpree.com/list/">List Of Stores</a>
                    </li>  
                    <li>
                        <a class="page-scroll" href="https://facebook.com/allpreedotcom"><i class="fa-brands fa-facebook"></i></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="https://instagram.com/allpreedotcom"><i class="fa-brands fa-instagram"></i></a>
                    </li>  

                      <li>
                        <a class="page-scroll" href="https://www.allpree.com"><strong>12 Members </strong></a>
                    </li>
                    <li>
                       <a class="navbar-brand page-scroll" href="https://www.allpree.com"><strong>$0 JMD Cash Paid</strong></a>
                    </li> 
                </ul>
            </div> -->
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
