<br><br>
<style>
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
</style>	
<div class="container">
            <div class="row land">
                <div class="home">     
			<div class="center">
                <div class="col-md-6 home-txt1">


	<center> 	<h4><strong>PARTNERSHIP</strong> </h4>   
	<b>Your Network = Your Income For Life</b>  <br> 
					
	Once Your Invitees Start Using Their Reloaded Digital eGift Card You Earn 1% CashBack On All Their eVoucher Orders For Life</center>

 <hr/>
			
<center>  <strong>Calculate What You Could Earn<br>For Just 5 Referred Users Per Month</strong> </center>
    
  <center> <img src="{{site.baseurl}}/img/refercashback.png" width="280" height="" alt=""></center>
 
<hr> 			
	</div>
				</div>
            </div>
          </div>
                </div>
