<br><br>
<style>
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
</style>	
<div class="container">
            <div class="row land">
                <div class="home">     
			<div class="center">
                <div class="col-md-6 home-txt1">


	<center> 	<h4><strong>PARTNERSHIP</strong> </h4>   
	<b>Your Network = Your Income For Life</b>  <br> 
					
	Once Your Invitees Start Using Their Reloaded Digital eGift Card You Earn 1% CashBack On All Their eVoucher Orders For Life</center>

 <hr/>
			
<center>  <strong>Calculate What You Could Earn<br>For Just 5 Referred Users Per Month</strong> </center>
    
  <center> <img src="{{site.baseurl}}/img/refercashback.png" width="280" height="" alt=""></center>
 
<hr> 
			<center>   Bank Transfer:<br> (Payment Total: To Our Bank Account) </center>
			 <center>  <img src="{{site.baseurl}}/img/leadpagecost.png" width="280" height="" alt=""> </center>

   				

<center><strong> OUR BANKING DETAILS.</strong> </center> 
    
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;✅ <strong>Bank:</strong> Bank of Nova Scotia Jamaica <br> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;✅ <strong>Branch:</strong> Sav-La-Mar <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;✅ <strong>Branch/transit number:</strong> 00265 <br>				      
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;✅ <strong>Account type:</strong> Chequing <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;✅ <strong> Account number:</strong>00265 000603575 <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;✅ <strong>Account currency:</strong>  JMD <br>


  <br>

       <center> <strong>CLICK THE BUTTON BELOW</strong> <br> Once You Made A Bank Transfer To Send Us The Pre-Written Message, It's Very Important <br> <br>
      <a href="https://api.whatsapp.com/send?phone={{site.tell}}&text=Hey! just did a bank transfer, I'm sending the receipt 🧾 now" class="page-scroll"><button class="btn btn-outline btn-xl" id="#signup"><strong><i class="fa-solid fa-computer-mouse"></i> Send Pre-Written Msg</strong></button></a></center>

	</div>
				</div>
            </div>
          </div>
                </div>
