<header> 
<!-- 	 -->
	
<div class="container">
            <div class="row land">
                <div class="home">
                <div class="col-md-6 home-txt">
                   <div class="home-right">
			   
			  <h2> Join Our Referral Program For A Chance To Win $5,000 JMD Shopping Vouchers Every Month</h2>
                               <div class="home-exp">
	
				  <h3>
				Request to join and we will create your referral link. Be in the top 20 spots every month and you win one of twenty $5,000 JMD Shopping Vouchers	  
				  </h3>
				     
				<h3>
					Additionally, each voucher bought by your referral earns you 2% until it reaches $12,500 JMD, giving you a free shopping voucher. and the best part is that there is no limit to how many referrals you can have. So go crazy, refer your peeps.
				</h3>
				
		           
				      <small class="block"><b></b> </small>
<br> <center><a href="https://www.allpree.com/join/" class="page-scroll"><button class="btn btn-outline btn-xla" id="mc-embedded-subscribe"><i class="fa-solid fa-computer-mouse"></i> Find Out How To join </button></a> </center>
   
			       </div>
                        </div>
                            </div>              
                            
                <div class="col-md-6">
                        <div class="home-left">
                     <div class="image-cont5"></div>
                    </div>
                </div>
            </div>
          </div>
                </div>
            </div>
         </div>
            </div>
	
</header>
