<header> 
<!-- 	 -->
	
<div class="container">
            <div class="row land">
                <div class="home">
                <div class="col-md-6 home-txt">
                   <div class="home-right">
			   <h4> Sharing Is Caring </h4>
			 <h3> Friends That Stick Together, Earn Together </h3>
                               <div class="home-exp">


				     <h2> <strong> How The Referral Program Works </strong> </h2>
				       
	<!-- <h2> Join Our Referral Competition For A Chance To Win $5,000 JMD Shopping Vouchers Every Month.</h2>
				  <h3>
				Sign Up To Our CashBack Membership and Request Your Referral Link. Be In The Top 20 Spots Every Month and You'll Win One Of Twenty $5,000 JMD Shopping Vouchers.	  
				  </h3> -->
				     
				<h3>
				Share Allpree.com with a friend and get 1% commission for every order they make for life once they continue to shop using our reloaded digital eGift Card.    <!--  Until It Reaches $12,500 JMD, This Will Give You $10,000 JMD Cash In Your Bank Account -->  
				</h3>

				       <h4>
		           The Best Part Is That There Is No Limit To How Many Referrals You Can Have. So Go Crazy, Refer Your Peeps.
				    </h4>
					       <small class="block"><b></b> </small>
<br> <center><a href="https://www.allpree.com/membership/" class="page-scroll"><button class="btn btn-outline btn-xla" id="mc-embedded-subscribe"><i class="fa-solid fa-computer-mouse"></i> Find Out How Our CashBack Works </button></a> </center>
   <br>
			       </div>
                        </div>
                            </div>              
                            
                <div class="col-md-6">
                        <div class="home-left">
				<br>
                     <div class="image-cont6"></div>
<br>
                    </div>
                </div>
            </div>
          </div>
                </div>
            </div>
         </div>
            </div>
	
</header>
