<header> 
<!-- 	 -->
	
<div class="container">
            <div class="row land">
                <div class="home">
                <div class="col-md-6 home-txt">
                   <div class="home-right">
			   
			    
                               <div class="home-exp">
	
				  <h1>Did you know that <strong>Gift Card</strong> is the new trend for in-store shopping and <strong>CashBack</strong> is a new promotional tool for stores to offer a tiny 3% cashback </h1>
				     
				<h2>Let our company unlock <strong>CashBack</strong> ranging from 27% to 40% exclusively for you through our dedicated efforts.</h2>
				
		           
				      <small class="block"><b></b> </small>
<br> <center><a href="https://www.allpree.com/join/" class="page-scroll"><button class="btn btn-outline btn-xla" id="mc-embedded-subscribe"><i class="fa-solid fa-computer-mouse"></i> Find Out How To join </button></a> </center>
   
			       </div>
                        </div>
                            </div>              
                            
                <div class="col-md-6">
                        <div class="home-left">
                     <div class="image-cont5"></div>
                    </div>
                </div>
            </div>
          </div>
                </div>
            </div>
         </div>
            </div>
	
</header>
