<section id="features" class="features">
    <div class="container">
               <div class="row text-center">
              <!--     <br> <h2>HOW TO JOIN</h2> <br>  -->
               </div>
        <div class="row mt50 bor">
                <div class="col-md-6">
                   <div class="expl">
                       <h3>Step 1: Message Us On WhatsApp</h3>
                        <p><br>Progressive Foods - Bogue
Progressive Foods - Whitter Village
Shoppers Fair - Burke Road
Super Shoppers Fair - Boulevard
Progressive Food - Braeton
Shoppers Fair - Manchester
Shoppers Fair - Harbour View
Shoppers Fair - Liguanea
Shoppers Fair - Greater Portmore
Shoppers Fair - Portmore Mall
D&Y Supermarket
Shoppers Fair - Duhaney Park
Shoppers Fair - Sav-la-Mar
Shoppers Fair - Blue Diamond
Shoppers Fair - Brunswick
Progressive Foods - Ocho Rios
Progressive Foods - Mandeville
Shoppers Fair - Junction
JR's Bargain World - Linstead
Super Shoppers Fair - May Pen
Shoppers Fair - Westgate
Lee's Food Fair - Red Hills Road
General Food Supermarket - Liguanea
General Food Supermarket - Ocho Rios
Intown Super Centre - Junction
Intown Super Centre - Santa Cruz
Intown Super Centre - Black River
Master Mac - Kingston
Master Mac - Mandeville
Master Mac - Montego Bay
Master Mac - Portmore
HiLo - Barbican
HiLo - Cross Road
HiLo - Fairview
HiLo - Liguanea Lane
HiLo - Express (Grace Kennedy HQ)
HiLo - Portmore Pines
HiLo - Manor Park
Boot Supermarket - Drax Hall
Boot Supermarket - Coconut Grove Ocho Rios
Fresh Approach - Constant Spring
Fresh Approach - New Kingston Shopping Centre
CPJ - Montego Bay
CPJ - Drax Hall
CPJ - Kingston
Select Grocers - Manor Park
Select Grocers - May Pen
Sampars - Marcus Garvey Drive
Sampars - St. Ann's Bay
Sampars - West Street
Sampars - Washington Boulevard
Sampars - Old Harbour
Sampars - Cross Roads</p>
                    </div>
                </div> 
                <div class="col-md-6">
                <!--    <img src="{{site.baseurl}}/img/messagewa.png"  alt="">  -->
  
                </div>
        </div>

   

    <div class="row bor">
                <div class="col-md-6 rev-txt">
                        <div class="expl">
                            <br><br><br><br> <h3>Step 2: Download the GiftMe App</h3>
                        <p><br>Once your account is approved, We will send you a digital EXPENSE GIFT CARD via email for you to save within the GiftMe App, This allows you to shop in-store at over 300+ partner locations islandwide using one card. 
                
                            <br><br>Additionally, we'll send another email for you to activate your instant cashback offer, which we have negotiated with GiftMe, enabling you to receive from 1% to 20% instant cashback at selected stores islandwide within the GiftMe app. 
                        <br><br>Click the link to download GiftMe App (<a class="font-semibold underline hover:text-blue-500" rel="noopener noreferrer" href="https://apps.apple.com/tz/app/giftme-gift-cards-rewards/id1593182524" target="_blank">Apple
App Store</a>/<a class="font-semibold underline hover:text-blue-500" rel="noopener noreferrer" href="https://play.google.com/store/apps/details?id=com.mba.giftme&hl=en&gl=US" target="_blank">Google
Play</a>).
                        </p>
                          
                    
                        </div>
                </div>
                <div class="col-md-6 rev-img">
                    <img src="{{site.baseurl}}/img/expensecardapp.png"   alt="">
                      
                </div>
        </div>
       <div class="row bor">
                <div class="col-md-6">
                   <div class="expl">
                   <br><br><br><br><h3>Step 3: Buy Gift Card</h3>
                            <p> When you are ready to purchase your gift card, send us a WhatsApp message so we can send you our banking info, in the reference section type in send your special code for us 
                                to track your transactions within the company and ensure that we can accurately credit your gift card to your account
                                                             
<br>
<br> <small class="block"><b>ACCEPTED:</b></small> 🏦 Bank of Nova Scotia Jamaica / 🏦 National Commercial Bank

<br><br><small class="block"><b>Comming Soon:</b></small> 🏦 Citibank N.a / 🏦 First Caribbean International Bank  / 🏦 First Global Bank Limited / 🏦 JMMB Bank Jamaica Limited /  🏦 JN Bank / 🏦 Sagicor Bank Jamaica / 🏦 Victoria Mutual Building Society
<br> <br>                               
                             
                                    
                               </p>     
                   
                   </div>
                </div>
                <div class="col-md-6">
                     <img src="{{site.baseurl}}/img/cardvp.png" alt="">
                    
                
                </div>
        </div>  

    <div class="row bor">
                <div class="col-md-6 rev-txt">
                        <div class="expl">
                          <br><br><br><br>   <h3>Step 4: Monitor Progress</h3>
                        <p><br>Throughout the 121 days, you'll notice the cashback percentage fluctuating, indicating potential increases or decreases
                            
                             
                     
                            <br><br>We utilize the company's profit to generate additional earnings. This approach is a win-win strategy for you, for us, and for brands, allowing us to surpass most loyalty programs in Jamaica.
                            
                            
                            <br><br>After 121 days, we'll confirm the available cashback amount you can withdraw, that you can initiate a withdrawal request.</p>
                    
                        </div>
                </div>
                <div class="col-md-6 rev-img">
                      <img src="{{site.baseurl}}/img/cashbsy.png"  alt="">

                </div>
        </div>

</section>
