<section id="features" class="features">
    <div class="container">
              
        <div class="row mt50 bor">
                <div class="col-md-6 rev-txt">
                   <div class="expl">
                      <h3>= SUPERMARKETS =</h3>
                        <ul>
				    
<li>Progressive Foods - Bogue</li>
<li>Progressive Foods - Whitter Village</li>
<li>Shoppers Fair - Burke Road</li>
<li>Super Shoppers Fair - Boulevard</li>
<li>Progressive Food - Braeton</li>
<li>Shoppers Fair - Manchester</li>
<li>Shoppers Fair - Harbour View</li>
<li>Shoppers Fair - Liguanea</li>
<li>Shoppers Fair - Greater Portmore</li>
<li>Shoppers Fair - Portmore Mall</li>
<li>D&Y Supermarket</li>
<li>Shoppers Fair - Duhaney Park</li>
<li>Shoppers Fair - Sav-la-Mar</li>
<li>Shoppers Fair - Blue Diamond</li>
<li>Shoppers Fair - Brunswick</li>
<li>Progressive Foods - Ocho Rios</li>
<li>Progressive Foods - Mandeville</li>
<li>Shoppers Fair - Junction</li>
<li>JR's Bargain World - Linstead</li>
<li>Super Shoppers Fair - May Pen</li>
<li>Shoppers Fair - Westgate</li>
<li>Lee's Food Fair - Red Hills Road</li>
<li>General Food Supermarket - Liguanea</li>
<li>General Food Supermarket - Ocho Rios</li>
<li>Intown Super Centre - Junction</li>
<li>Intown Super Centre - Santa Cruz</li>
<li>Intown Super Centre - Black River</li>
<li>Master Mac - Kingston</li>
<li>Master Mac - Mandeville</li>
<li>Master Mac - Montego Bay</li>
<li>Master Mac - Portmore</li>
<li>HiLo - Barbican</li>
<li>HiLo - Cross Road</li>
<li>HiLo - Fairview</li>
<li>HiLo - Liguanea Lane</li>
<li>HiLo - Express (Grace Kennedy HQ)</li>
<li>HiLo - Portmore Pines</li>
<li>HiLo - Manor Park</li>
<li>Boot Supermarket - Drax Hall</li>
<li>Boot Supermarket - Coconut Grove Ocho Rios</li>
<li>Fresh Approach - Constant Spring</li>
<li>Fresh Approach - New Kingston Shopping Centre</li>
<li>CPJ - Montego Bay</li>
<li>CPJ - Drax Hall</li>
<li>CPJ - Kingston</li>
<li>Select Grocers - Manor Park</li>
<li>Select Grocers - May Pen</li>
<li>Sampars - Marcus Garvey Drive</li>
<li>Sampars - St. Ann's Bay</li>
<li>Sampars - West Street</li>
<li>Sampars - Washington Boulevard</li>
<li>Sampars - Old Harbour</li>
<li>Sampars - Cross Roads</li>
    </ul>
                    </div>
                </div> 
                <div class="col-md-6 rev-img">
                <!--    <img src="{{site.baseurl}}/img/messagewa.png"  alt="">  -->
  
                </div>
        </div>

   

    <div class="row bor">
                <div class="col-md-6 rev-txt">
                        <div class="expl">
                            <h3>= AUTO =</h3>
				<ul>
<li>Berts Auto - Molynes Rd</li>
<li>Berts Auto - South Camp Rd</li>
<li>Berts Auto - Hagley Park Rd</li>
<li>Warehouse - Old Hope Road</li>
<li>Warehouse - Burlington</li>
<li>Warehouse - Hagley Park</li>
<li>Warehouse - Barbican Road</li>
<li>Warehouse - Bogue</li>
<li>Warehouse - Coral Gardens</li>
<li>Warehouse - Newport West</li>
<li>Warehouse - Portmore</li>
<li>Warehouse - Spanish Town Road</li>
<li>Warehouse - Mandeville</li>
<li>Warehouse - Junction - St. Elizabeth</li>
<li>Warehouse - Santa Cruz</li>
<li>Warehouse - Spanish Town Bypass</li>
<li>Warehouse - Old Harbour</li>
<li>Warehouse - May Pen</li>
<li>Warehouse - Savana-la-mar</li>
<li>MSC McKay - Kingston</li>
<li>MSC McKay - Portmore</li>
<li>MSC McKay - Ocho Rios</li>
<li>MSC Mckay - Mandeville</li>
<li>MSC McKay - Montego Bay</li>
<li>MSC McKay - May Pen</li>
</ul>
                          
                    
                        </div>
                </div>
                <div class="col-md-6 rev-img">
                 <!--   <img src="{{site.baseurl}}/img/expensecardapp.png"   alt=""> -->
                      
                </div>
        </div>
       <div class="row bor">
                <div class="col-md-6 rev-txt">
                   <div class="expl">
                   <h3>= GAS =</h3>
				<ul>
<li>FESCO - Beechwood Ave</li>
<li>FESCO - Braeton</li>
<li>FESCO - Bodles</li>
<li>FESCO - Mandeville</li>
<li>FESCO - Mandela Highway (Ferry)</li>
<li>Boot Gas & Auto - Drax Hall</li>
<li>Boot Gas & Auto - Coconut Grove, Ocho Rios</li>
<li>Grab N Go Gas N Convenience - 27 Half Way Tree Road Texaco</li>
<li>Grab N Go Gas N Convenience - Barbican Texaco</li>
<li>Grab N Go Gas N Convenience - Constant Spring Texaco</li>
<li>Grab N Go Gas N Convenience - Discovery Bay Total</li>
<li>Grab N Go Gas N Convenience - Fairview Texaco</li>
<li>Grab N Go Gas N Convenience - Mary Brown's Corner Texaco</li>
<li>Grab N Go Gas N Convenience - Papine Texaco</li>
<li>Grab N Go Gas N Convenience - Sav Grab n Go</li>
</ul>
 
                   
                   </div>
                </div>
                <div class="col-md-6 rev-img">
                 <!--    <img src="{{site.baseurl}}/img/cardvp.png" alt=""> -->
                    
                
                </div>
        </div>  

    <div class="row bor">
                <div class="col-md-6 rev-txt">
                        <div class="expl">
                          <br><br><br><br>   <h3>Step 4: Monitor Progress</h3>
                        <p><br>Throughout the 121 days, you'll notice the cashback percentage fluctuating, indicating potential increases or decreases
                            
                             
                     
                            <br><br>We utilize the company's profit to generate additional earnings. This approach is a win-win strategy for you, for us, and for brands, allowing us to surpass most loyalty programs in Jamaica.
                            
                            
                            <br><br>After 121 days, we'll confirm the available cashback amount you can withdraw, that you can initiate a withdrawal request.</p>
                    
                        </div>
                </div>
                <div class="col-md-6 rev-img">
                      <img src="{{site.baseurl}}/img/cashbsy.png"  alt="">

                </div>
        </div>

</section>
