 <b>Step: 1</b> 
                                      <a href="https://api.whatsapp.com/send/?text=*WatsApp%20TV*%0A_Share%20LOL-Worthy%20Moments%20Through%20Status_%20check%20it%20out:%20watsapp.tv%20" class="page-scroll"><button class="btn btn-outline btn-xl" id="#signup"><strong><i class="fa fa-whatsapp"></i> <i class="fa fa-bullhorn"></i> : Invite 5 Friends</strong></button></a>
                               <br> <br>
                                     <b> Step: 2</b> 
                                <a href="https://watsapptv.github.io/Click%20&%20Save%20Contact.vcf" class="page-scroll"><button class="btn btn-outline btn-xl" id="#signup"><strong>Download, Open & Save On <i class="fa fa-android"></i><i class="fa fa-apple"></i></strong></button></a>
                               
                               <br><br>
                                     <b> Step: 3</b> 
                                <a href="https://docs.google.com/forms/d/e/1FAIpQLSc6ntUhpfzRzy9VW3NR0dTqXmlGJNr4ytd7EGMAMRQpzvfMGA/viewform" class="page-scroll"><button class="btn btn-outline btn-xl" id="#signup"><strong><i class="fa fa-mobile"></i> <i class="fa fa-address-book-o"></i> : Add to phonebook</strong></button></a>
                               <br>
                                     
                                     
                            </div>
                        </div>
                            </div>
