<section id="proof" class="testimonial bg-primary">
       <div class="container">
        
       <div class="row mt50">

    {% for testimonial in site.data.testimonials %}
        <div class="col-md-6">
        <blockquote class="testimonial__quote">
            <p class="testimonial__text">{{testimonial.quote}}</p>
            <footer class="testimonial__meta">
                <img class="testimonial__img" src="{{site.baseurl}}/img/{{testimonial.image}}" alt="{{testimonial.name}}" />
                <div>
                    <cite class="testimonial__author">{{testimonial.name}}</cite>
                    <br>
                    <span class="testimonial__position">{{testimonial.position}}</span>
                </div>
            
        </blockquote>
     </div>
    {% endfor %}

 </div>
    </div>
</section>
