<header> 
<!-- 	 -->
<div class="container">
            <div class="row land">
                <div class="home">
                <div class="col-md-6 home-txt">
                   <div class="home-right">
			   
                               <div class="home-exp">
<h3><strong>Congratulations!</strong> You or add to the phone <i class="fa fa-database"></i></h3>


<p>To start seeing our WhatsApp Status on the next post Follow the instructions below to save our mobile number </p>

				       <br>
				       
 Scan the <b>QR code</b> that says scan me, it will prompt you to save our Contacts in your phone	
				       <br><br>
<i class="fa fa-android"></i> Android User: Screenshot the Qr-Code and download <b>Google Lens</b>, from Google Play Store, once you finish downloading, open the Google Lens App and search for the QR-code it will prompt you to save our mobile number, save it and that's it
                            <br><br>
<i class="fa fa-apple"></i> Apple User: Screenshot the Qr-Code and download <b>Google Lens</b>, from Apple Store, once you finish downloading, open the Google Lens App and search for the QR-code it will prompt you to save our mobile number, save it and that's it <br> 

				       <br>

	<p>Before you go, You have one final step, Click on the WhatsApp button below and send us the generated message.
<br> <br>
	<a href="https://api.whatsapp.com/send?phone={{site.tell}}&text=Just sign up" class="page-scroll"><button class="btn btn-outline btn-xl" id="#signup"><strong><i class="fa fa-whatsapp"></i> WhatsApp Button</strong></button></a>
  	
 </div>
                        </div>
                            </div>              
                            
                <div class="col-md-6">
                        <div class="home-left">
                     <div class="image-cont6"></div>
                    </div>
                </div>
            </div>
            </div>
 </div>
            
