<br> <br> <br> <br>
 <!-- <p><b>Congratulations!</b> You are now set to start making money</p>

<p> Before you go, You have one final step, Click the button below to follow our WhatsApp Channel, We will send you a notification with the numbers that you need to save in order for you to start seeing our status</p>

<p><b>Congratulations!</b> You are now set to start making money</p>


<p>Before you go, Are you looking for an easy way to earn extra income? Our referral program is a great opportunity to do just that! By referring your friends and family to make money doing somthing they already doing for free, you can earn a percentage of their earnings. It's a simple and hassle-free way to earn money, and the more people you refer, the more you can earn. So why not join our referral program today and start earning extra cash? It's a win-win for everyone!

 <p> Click the button below to join our private referral program community, We will send you a notification to let you know when to join our setup group so our staff can create your referral code and signup page. <b>Note:</b> We can only except 20 at any one time</p>
  
                                      <a href="https://chat.whatsapp.com/{{site.chatgroup}}" class="page-scroll"><button class="btn btn-outline btn-xl" id="#signup"><strong>Referral Program Community</strong></button></a>

<a href="https://chat.whatsapp.com/{{site.chatgroup}}" class="page-scroll"><button class="btn btn-outline btn-xl" id="#signup"><strong>Private Community</strong></button></a>  -->
                               <br> <br>
			
		
<br>
 <!-- <h4> Before you go, You have one final step, 
	 <h4> Save Our WhatsApp Number {{site.tell}} <!-- <a href="{{site.baseurl}}/Open&Save.vcf" class="page-scroll"><button class="btn btn-outline btn-xl" id="#signup"><strong> <i class="fa fa-download"></i> Save Contact </strong></button></a> --> in your iPhone or your Android phone </P> 
                          
	
	<p> Then Click the button below to follow our WhatsApp channel and then enable notifications to receive essential updates from our HR team.</p>
 <p> Don't worry, your phone number, profile picture, and name are kept private, and other followers cannot interact with you.

<p> Our HR team will send a WhatsApp message with your member ID code and move on to the next step for you to receive your reusable egift card

	

<center> <br><a href="https://www.allpree.com/channel/" class="page-scroll"><button class="btn btn-outline btn-xla" id="mc-embedded-subscribe"><i class="fa-solid fa-computer-mouse"></i> Follow our WhatsApp Channel</button></a> </center> -->


	<p>Before you go, You have one final step, Click on the WhatsApp button below and send us the generated message.
<br> <br>
	<a href="https://api.whatsapp.com/send?phone={{site.tell}}&text=Just sign up" class="page-scroll"><button class="btn btn-outline btn-xl" id="#signup"><strong><i class="fa fa-whatsapp"></i> WhatsApp Button</strong></button></a>
  	
