<section id="features" class="features">
    <div class="container">
               <div class="row text-center">
              <!--     <br> <h2>HOW TO JOIN</h2> <br>  -->
               </div>
        <div class="row mt50 bor">
                <div class="col-md-6">
                   <div class="expl">
                       <br><br><br><br> <h3>Step 1: Download the GiftMe App</h3>
                        <p><br>Once your account is approved, We will send you a digital EXPENSE GIFT CARD via email for you to save within the GiftMe App, This allows you to shop in-store at over 300+ partner locations islandwide using one card. 
                
                            <br><br>Additionally, we'll send another email for you to activate your instant cashback offer, which we have negotiated with GiftMe, enabling you to receive from 1% to 20% instant cashback at selected stores islandwide. 
                        <br><br>Click the link to download GiftMe App (<a class="font-semibold underline hover:text-blue-500" rel="noopener noreferrer" href="https://apps.apple.com/tz/app/giftme-gift-cards-rewards/id1593182524" target="_blank">Apple
App Store</a>/<a class="font-semibold underline hover:text-blue-500" rel="noopener noreferrer" href="https://play.google.com/store/apps/details?id=com.mba.giftme&hl=en&gl=US" target="_blank">Google
Play</a>).
                        </p>
                    </div>
                </div> 
                <div class="col-md-6">
                    <img src="{{site.baseurl}}/img/expensecardapp.png"   alt="">
               
                </div>
        </div>

   

    <div class="row bor">
                <div class="col-md-6 rev-txt">
                        <div class="expl">
                          <br><br><br><br>   <h3>Step 2: Message Us On WhatsApp</h3>
                        <p><br>Reach out to the member who recommended you here. 
                            
                            <br><br>They will provide you with the company's private WhatsApp number to express your interest in joining the company. 
                            
                            <br><br>Our HR department will get back to you as soon as possible to request details and manually set up your account within our organization
                         
                            <br><br>We will send you a special code via WhatsApp. </p>
                    
                        </div>
                </div>
                <div class="col-md-6 rev-img">
                      <img src="{{site.baseurl}}/img/messagewa.png"  alt="">

                </div>
        </div>
       <div class="row bor">
                <div class="col-md-6">
                   <div class="expl">
                   <br><br><br><br><h3>Step 3: Add Our Bank Account</h3>
                            <p> This is the payment method you will use to purchase your gift card along with your special code for us 
                                to track transactions within the company and ensures that we can accurately send the cashback to the right recipients after the 121 days
                                
                             
<br>
<br>🏦 Bank of Nova Scotia Jamaica <small class="block"><b>accepted</b></small>
<br>🏦 Citibank N.a <small class="block"><b>comming soon</b></small>
<br>🏦 First Caribbean International Bank <small class="block"><b>comming soon</b></small>
<br>🏦 First Global Bank Limited <small class="block"><b>comming soon</b></small>
<br>🏦 JMMB Bank Jamaica Limited <small class="block"><b>accepted</b></small>
<br>🏦 JN Bank <small class="block"><b>comming soon</b></small>
<br>🏦 National Commercial Bank <small class="block"><b>accepted</b></small>
<br>🏦 Sagicor Bank Jamaica <small class="block"><b>comming soon</b></small>
<br>🏦 Victoria Mutual Building Society <small class="block"><b>accepted</b></small>
                                
                                
                               </p>     
                   
                   </div>
                </div>
                <div class="col-md-6">
                     <img src="{{site.baseurl}}/img/Bank.png" alt="">
                    
                
                </div>
        </div>  

   

</section>
