<section id="features" class="features">
    <div class="container">
               <div class="row text-center">
                   <h2>How It Works</h2>
               </div>
        <div class="row mt50 bor">
                <div class="col-md-6">
                   <div class="expl">
                        <h3>Step 1</h3>
                        <p>Download the GiftMe App</p>
                    </div>
                </div>
                <div class="col-md-6"><img src="{{site.baseurl}}/img/mobility-frc.jpg" alt=""></div>
        </div>

        <div class="row bor">
                <div class="col-md-6 rev-txt">
                        <div class="expl">
                            <h3>Step 2</h3>
                            <p>Send a request to join the company for us to send you a corporate digital EXPENSE GIFT CARD via email to save within the GiftMe App, for easy use at any of our 315 partner locations islandwide
</p>
                        </div>
                </div>
                <div class="col-md-6 rev-img">
                       <img src="{{site.baseurl}}/img/joint-strength-frc.jpg" alt="">

                </div>
        </div>

        <div class="row bor">
                <div class="col-md-6">
                   <div class="expl">
                        <h3>Step 3</h3>
                        <p>Activate our instant cashback offer we have negotiated with GiftMe for you to receive from 1% to 20% back at selected stores</p>
                    </div>
                </div>
                <div class="col-md-6"><img src="{{site.baseurl}}/img/body-control-frc.jpg" alt=""></div>
        </div>

    </div>

    <div class="row bor">
                <div class="col-md-6 rev-txt">
                        <div class="expl">
                            <h3>Step 4</h3>
                            <p>Download the Lynk App to purchase gift cards top-up in denominations of $5000, $7500, $10,000, $15,000, $17,500, or $20,000, plus 25% GCT</p>
                        </div>
                </div>
                <div class="col-md-6 rev-img">
                       <img src="{{site.baseurl}}/img/joint-strength-frc.jpg" alt="">

                </div>
        </div>

</section>
