<section id="features" class="features">
    <div class="container">
               <div class="row text-center">
                   <h2>FRC® Training Goals</h2>
               </div>
        <div class="row mt50 bor">
                <div class="col-md-6">
                   <div class="expl">
                        <h3>Mobility Development</h3>
                        <p>Mobility refers to the amount of active, usable motion that one possesses. The more mobile a person is, the more they are able to maximize their movement potential safely, efficiently, and effectively.</p>
                    </div>
                </div>
                <div class="col-md-6"><img src="{{site.baseurl}}/img/mobility-frc.jpg" alt=""></div>
        </div>

        <div class="row bor">
                <div class="col-md-6 rev-txt">
                        <div class="expl">
                            <h3>Joint Strength</h3>
                            <p>While improving mobility and movement potential, the FRC® system also acts to ‘bullet proof’ (or safe-guard) your joints so that movement can be executed safely.</p>
                        </div>
                </div>
                <div class="col-md-6 rev-img">
                       <img src="{{site.baseurl}}/img/joint-strength-frc.jpg" alt="">

                </div>
        </div>

        <div class="row bor">
                <div class="col-md-6">
                   <div class="expl">
                        <h3>Body Control</h3>
                        <p>Training with FRC® improves the function of your nervous system. This leads to a reduction of pain and injury, joint health and longevity, as well as an increased ability to move freely and easily.</p>
                    </div>
                </div>
                <div class="col-md-6"><img src="{{site.baseurl}}/img/body-control-frc.jpg" alt=""></div>
        </div>

    </div>
</section>
