body {
        overflow-x: hidden;
}


img {
    max-width: 100%;
}

header {
    h1 {
        line-height: 1;
        @include media-query($on-laptop) {
            font-size: 26px;
        }
    }
    h2 {
        font-size: 25px;
        line-height: 1.5;
        @include media-query($on-laptop) {
            font-size: 20px;
        }
    }

}

.row.land {
    padding-bottom: 0;
    @include media-query($content-width) {
        height: 100%;

    }

    @include media-query($on-laptop) {
      /*   padding-bottom: 20px; */
        }

}

.home-right {
/*     padding: 0 0 0 30px;  */
    padding: 30px;
    @include media-query($on-laptop) {
        padding: 0 0 0 15px;
    }
    @include media-query($on-laptop) {
        padding: 0;
        text-align: center;

    }

    p {
        color: $brand-color;
        margin-bottom: 30px;
            @include media-query($on-laptop) {
                margin-bottom: 30px;
                }
    }



}

.home {
    margin-top: 110px;

}







// Button Styles
.btn-outline {
    color: white;
    border-color: $btn-color;
    background-color: $btn-color;
    border: 1px solid;
    &:hover,
    &:focus,
    &:active,
    &.active {
        color: $brand-color;
        background-color: white;
        border-color: $brand-color;

    }
}





/* Form style */
#mc_embed_signup {
      padding: 40px 10px;
      text-align: left;
      max-width: 620px;
      margin: 0 auto;
      @include media-query($on-laptop) {
              /* max-width: 90%; */
        }

     @include media-query($on-palm) {
            margin: 0 auto;
        }

    input {
        width: 100%;
        margin-bottom: 30px;
    }
    input[type=text], input[type=email] {
        border: 1px solid #ddd;
        border-radius: 2px;
        padding: 18px 10px;
        @include media-query($on-palm) {
              padding: 10px 10px;
        }
    }

}

.response {
    padding: 30px;
}

#mce-error-response {
    color: red;
}

#mce-success-response {
    color: green;
}

.btn-xl {
    padding: 22px 50px;
    font-size: 13px;
        @include media-query($on-palm) {
               padding: 18px 18px;
               font-size: 12px;
               font-weight: bold;
        }
}

.btn-xla {
    padding: 26px 10px;
    font-size: 18px;
        @include media-query($on-palm) {
                padding: 18px 0px;
                font-size: 12px;
                font-weight: bold;
        }
}


label {
    font-family: inherit;
    font-size: 20px;
    font-weight: 300;
}




.image-cont {
   background-image: url(https://scontent.whatsapp.net/v/t39.8562-34/90750437_3590158774390401_6528497040362569728_n.png?stp=dst-webp&ccb=1-5&_nc_sid=8a74b9&_nc_ohc=RDOIKndaCugAX-yWitR&_nc_ht=scontent.whatsapp.net&oh=01_AVw2V4maWtO2g8ne9EkZyQ2jxKFkRQ9qR2KZyv8RbRt-1A&oe=622B481E);
   background-size: contain;
   background-position: top center;
   width: 100%;
   height: 600px;
   background-repeat: no-repeat;
    @include media-query($on-laptop) {
        height: 400px;
    }
}
@media (min-width: 768px) {
    .image-cont {
        height: 600px;
    }
}

.col-md-6.home-txt {
    float: right;
    @include media-query(1000px) {
        float: none;
    }
}

.mt50 {
    margin-top: 50px;
}
#benefits {
    h2 {
        position: relative;
        top: -30px;
    }
    .brdr {
        padding: 10px;
    }
}

.expl {
        padding: 60px;
        @include media-query($on-palm) {
            padding: 10px;
        }
}

#location {
    color: #fff;
}

iframe {
    max-width: 100%;
}



.social-cerificate {
                /* a {
                    background-color: #ff9600;
                    &:hover {
                        background-color: darken(#ff9600, 5%);
                    }
                } */
            }

.social-instagram {
                a {
                    background-color: #fb3958;
                    &:hover {
                        background-color: darken(#fb3958, 5%);
                    }
                }
            }


.features {
    h3 {
            font-weight: 400;
    }
    .bor:not(:last-child) {
            @include media-query($on-laptop) {
                border-bottom: 1px solid #eee;
                border-radius: 5px;
                margin-bottom: 10px;
            }
        }
}

 .rev-pos-img {
    position: relative;
    top: 190px;
}
.rev-pos-txt {
    position: relative;
    bottom: 315px;
} 

.cert {
        vertical-align: top;
        border-radius: 50px;
    &:hover {
        opacity: 0.9;
    }
}

.home-exp {
    margin-top: 100px;
    @include media-query($on-laptop) {
        margin: 10px auto;
    }


    button {
          /*   margin: 20px auto; */
    }
}

.list-inline>li {
    display: inline-block;
    padding-right: 15px;
    padding-left: 15px;
}

section.signup {
    padding: 20px 0;
}

.mb-50 {
    margin-bottom: 50px;
}

.certificate {
    border-radius: 4px;
    box-shadow: 0 0 10px #9c9c9c;
}


.col-md-6.rev-txt {
    float: right;
    @include media-query($on-palm) {
        float: none;
    }
}
.social-embed {
    max-height: 480px;
    overflow: hidden;
    margin-bottom: 20px;
}
