/**
 * Testimonial
 */

.testimonial__title {
  margin: 0 0 0.90909em;
  font-weight: normal;
  font-size: 1.375rem;
  color: rgba(255, 255, 255, 0.7);
}
.testimonial__quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  border: none;
}
@media (max-width: 43.75em) {
  .testimonial__quote {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.testimonial__quote footer::before {
  content: "";
}
.testimonial__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 9.09091em;
  padding: 1.36364em 1.81818em;
  font-size: 1.375rem;
  line-height: 1.55;
  color: #888;
  background: white;
  border-radius: 0 30px;
  box-shadow: 0 10px 22px rgba(0, 0, 0, 0.2);
}
@media (min-width: 43.8125em) {
  .testimonial__text {
    max-width: 70%;
    padding: 2.27273em 2.72727em;
    padding-right: 4.09091em;
  }
}
@media (max-width: 43.75em) {
  .testimonial__text {
    margin-bottom: 1.36364em;
  }
}
@media (min-width: 43.8125em) {
  .testimonial__text {
    border-radius: 0 50px;
  }
}
.testimonial__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    background-color: transparent;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.testimonial__img {
  min-width: 5em;
  width: 5em;
  height: 5em;
  margin-right: 1.25em;
  font-size: 1rem;
  border-radius: 50%;
  background: white;
  border: solid 2px white;
  box-shadow: 0 10px 22px rgba(0, 0, 0, 0.2);
}
@media (min-width: 43.8125em) {
  .testimonial__img {
    min-width: 7.25em;
    width: 7.25em;
    height: 7.25em;
    margin: 0 1.875em 0 -3.625em;
  }
}
@media (min-width: 43.8125em) {
  .testimonial__img {
    border-width: 3px;
  }
}
.testimonial__author {
  font-size: 1.375rem;
  line-height: 1.1;
  color: white;
}
.testimonial__position {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.7);
}
.bg-primary {
  background: #fffff;
  background: -webkit-linear-gradient(lighten($brand-color, 10%), #fffff);
  background: linear-gradient(lighten($brand-color, 10%), #fffff);
}
