---
layout: default
---

<br><br>
<center><a class="back-to-home" href="/"><img src="{{ site.url }}/img/{{ page.image }}" alt="{{ site.title }}" width="92" height="81"></a></center>
<center><div class="title">
        <h2>Join {{page.title}} On <i class="fa fa-whatsapp"></i>TV</h2>
        
        <span>
            <time datetime="">
                Join: {{ page.date | date: '%B %d, %Y' }} -- <i class="fa fa-id-badge" aria-hidden="true"></i> iD {{page.code}} -- {{page.contacts}} <i class="fa fa-user-circle" aria-hidden="true"></i> Invites 
            </time>
        </span>
        
    </div>
        <div class="post-title">
    {% if page.icon %}
    <div class="logo">
        
            <i class="fa fa-user-plus" aria-hidden="true"></i> {{page.invite}}
            <i class="fa fa-bullhorn" aria-hidden="true"></i> {{page.ads}}
           
    </div>
    {% endif %}
    
</div></center>
   
{{content}}
